@model Demo.Models.ReporteRendimientoEquiposModelView
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card-primary">
                <div class="card-header">
                    <h3>Reporte de rendimiento por equipo</h3>
                </div>
                <br />
                @using (Html.BeginForm("ReporteRendimientoEquipo", "Reportes", FormMethod.Post, new { enctype = "multipart/form-data", id = "forma" }))
                {
                    
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.Label("FechaInicial", "Fecha inicial")
                                    @Html.TextBoxFor(m => m.FechaInicial, new { @class = "form-control datetimepicker-input" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.Label("FechaFinal", "Fecha final")
                                    @Html.TextBoxFor(m => m.FechaFinal, new { @class = "form-control datetimepicker-input" })
                                </div>
                            </div>
                            @Html.Label("servicio", "Servicio", new { @class = "control-label" })
                            <div class="input-group" id="inputEquipo">
                                @Html.TextBoxFor(model => model.servicio, new { @class = "form-control", @id = "Servicio", @required = "required", @readonly = "readonly" })
                                <span class="input-group-btn">
                                    <a class="btn btn-primary" onclick="servicioS()" data-toggle="Buscar" title="Buscar">
                                        <i class="fas fa-search"></i>
                                    </a>
                                </span>
                            </div>

                            <button type="submit" onclick="actualizar()">Actualizar</button>
                        </div>


                        <table id="tabla" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Equipo</th>
                                    <th>Nombre</th>
                                    <th>Cod. Económico</th>
                                    <th>Marca</th>
                                    <th>Modelo</th>
                                    <th>Placas</th>
                                    <th>Lec. Inicial</th>
                                    <th>Lec. Final</th>
                                    <th>Dist. Recorrida </th>
                                    <th>Servicios</th>
                                    <th>Cantidad</th>
                                    <th>Importe</th>
                                    <th>Rend/Cant</th>
                                    <th>Rend/Imp </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var rend in Model.Datos)
                                {
                                    <tr>
                                        <td>@rend.equipo</td>
                                        <td>@rend.nombre</td>
                                        <td>@rend.cod_eco</td>
                                        <td>@rend.marca</td>
                                        <td>@rend.modelo</td>
                                        <td>@rend.placas</td>
                                        <td>@rend.lectura_ini</td>
                                        <td>@rend.lectura_fin</td>
                                        <td>@rend.dist_recorrida</td>
                                        <td>@rend.servicios</td>
                                        <td>@rend.cantidad</td>
                                        <td>@rend.importe</td>
                                        <td>@rend.rend_cant</td>
                                        <td>@rend.rend_imp</td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    }

                </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-xl" id="modalDetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="datos">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#tabla').DataTable();
        $('#FechaInicial').datetimepicker({
            format: 'L'
        });
        $('#FechaFinal').datetimepicker({
            format: 'L'
        });
    });

    function detalleCotizacion(folio){
        $("#datosProductos").empty();
        $.ajax({
            type:"GET",
            url:"@Url.Action("DetalleCotizacion","Reportes")" + "?folio=" + folio,
            success:function(data){
                $("#datosProductos").append(data);
                $('#modalDetalle').modal('show');
            },
            error: function (xhr,ajaxOptions,thrownError){alert(xhr.responseText);}
        });
    }

    function servicioS() {

        $("#datos").empty();
        $.ajax({
            type: "GET",
            url: "@Url.Action("Serv","Catalogos")",
            success: function (data) {
                $("#datos").append(data);
                $('#modalDetalle').modal('show');
            },
            error: function (xhr, ajaxOptions, thrownError) { alert(xhr.responseText); }
        });
    }
    function serv1(servicio, nombre) {
        $('#Servicio').val(servicio);
        $('#modalDetalle').modal('hide');
    }
    function actualizar() {
        $("#forma").submit();
    }
</script>
