@model Demo.Models.ReporteRendimientoEquiposModelView
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card-primary">
                <div class="card-header">
                    <h3>Reporte de rendimiento por equipo</h3>
                </div>
                <br />
                @using (Html.BeginForm("ReporteRendimientoEquipo", "Reportes", FormMethod.Post, new { enctype = "multipart/form-data", id = "forma" }))
                {
                    
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.Label("FechaInicial", "Fecha inicial")
                                    @Html.TextBoxFor(model => model.FechaInicial, new { @class = "my-4", @type = "datetime-local",@required="required",@id="fi"})
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.Label("FechaFinal", "Fecha final")
                                    @Html.TextBoxFor(model => model.FechaFinal, new { @class = "my-4", @type = "datetime-local",@required="required",@id="ff"})
                                </div>
                            </div>
                        </div>
                        @Html.Label("servicio", "Servicio", new { @class = "control-label" })
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-inline">
                                @Html.TextBoxFor(model => model.servicio, new { @class = "form-control my-4", @id="Servicio",@required="required"})
                                <a class="btn btn-primary" onclick="servicioS()" data-toggle="Buscar" title="Buscar">
                                            <i class="fas fa-search"></i>
                                        </a>
                                @Html.TextBoxFor(model => model.nombre, new { @class = "form-control my-4", @id="nombre"})
                                </div>
                                
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success" onclick="actualizar()">Actualizar</button>


                        <table id="tabla" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Equipo</th>
                                    <th>Nombre</th>
                                    <th>Cod. Económico</th>
                                    <th>Marca</th>
                                    <th>Modelo</th>
                                    <th>Placas</th>
                                    <th>Lec. Inicial</th>
                                    <th>Lec. Final</th>
                                    <th>Dist. Recorrida </th>
                                    <th>Servicios</th>
                                    <th>Cantidad</th>
                                    <th>Importe</th>
                                    <th>Rend/Cant</th>
                                    <th>Rend/Imp </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var rend in Model.Datos)
                                {
                                    <tr>
                                        <td><a href="javascript:detalleS(@rend.equipo)">@rend.equipo</a><a href="javascript:graficA(@rend.equipo)"><i class="fas fa-eye", style="color:green;"></i></a></td>
                                        <td>@rend.nombre</td>
                                        <td>@rend.cod_eco</td>
                                        <td>@rend.marca</td>
                                        <td>@rend.modelo</td>
                                        <td>@rend.placas</td>
                                        <td>@rend.lectura_ini</td>
                                        <td>@rend.lectura_fin</td>
                                        <td>@rend.dist_recorrida</td>
                                        <td>@rend.servicios</td>
                                        <td>@rend.cantidad</td>
                                        <td>@rend.importe</td>
                                        <td>@rend.rend_cant</td>
                                        <td>@rend.rend_imp</td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    }

                </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-xl" id="modalDetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="datos">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#tabla').DataTable();
    });

    function detalleS(equipo){
        var servicio = $("#Servicio").val();
        var fi = $("#fi").val();
        var ff = $("#ff").val();
        $("#datos").empty();
        $("#datos").empty();
        $.ajax({
            type: "GET",
            url: "@Url.Action("DetalleRendimiento","Reportes")",
            dataType:"json",
            data:{'equipo':equipo,'servicio':servicio,'fi':fi,'ff':ff},
            success: function (data) {
                $("#datos").append(data);
                $('#modalDetalle').modal('show');
            },
            error: function (xhr, ajaxOptions, thrownError) { 
            $("#datos").append(xhr.responseText);
            $("#modalDetalle").modal('show'); }
        });
    }

    function servicioS(){

        $("#datos").empty();
        $.ajax({
            type: "GET",
            url: "@Url.Action("Serv","Catalogos")",
            success: function (data) {
                $("#datos").append(data);
                $('#modalDetalle').modal('show');
            },
            error: function (xhr, ajaxOptions, thrownError) { alert(xhr.responseText); }
        });
    }
    function graficA(equipo){
        var servicio = $("#Servicio").val();
        var fi = $("#fi").val();
        var ff = $("#ff").val();
        $("#datos").empty();
        $.ajax({
            type: "GET",
            url: "@Url.Action("Grafica","Reportes")",
            dataType:"json",
            data:{'equipo':equipo,'servicio':servicio,'fi':fi,'ff':ff},
            success: function (data) {
                $("#datos").append(data);
                $('#modalDetalle').modal('show');
	            graFicar();
            },
            error: function (xhr, ajaxOptions, thrownError) {
            $("#datos").append(xhr.responseText);
            $("#modalDetalle").modal('show');
            graFicar();
            }
        });
    }
    function graFicar(){
        var ctx = document.getElementById("miGrafica").getContext("2d");
	            var datos= ((document.getElementById("datosGraf")||{}).value)||"";
	            var labels= ((document.getElementById("labels")||{}).value)||"";
                var array  = labels.split(",");
                //valores de las columnas
                var array2 = datos.split(",");
                debugger
	            var miGrafica = new Chart(ctx,{
                    //cambiar a tipo line ya que funcione
		            type:"line",
			            data:{
                            //nombres de las columnas
				            labels:array,
                           
				            datasets:[{
					            label:'Rendimiento',
                                //aqui se insertan los valores
					            data:array2,
                                
                                //colores de las columnas
                                backgroundColor:[
								'rgb(66,134,244)'
                                ]
				            }]
			            },
			            options:{
				            scales:{
					            yAxes:[{
						            ticks:{
							            beginAtZero: true
						            }
					            }]
				            }
			            }
	            });
    }
    function serv1(servicio, nombre) {
        $('#Servicio').val(servicio);
        $('#nombre').val(nombre);
        $("#Servicio").prop('readonly',true);
        $('#modalDetalle').modal('hide');
    }
    function actualizar(){
        var fi = $("#fi").val();
        var ff = $("#ff").val();
        var serv = $("#Servicio").val();
        if(fi == "" || ff == "" || serv == ""){
            alert("Algunos campos necesarios se encuentran vacios");
        }else{
            $("#forma").submit();
        }
        
    }
</script>
