<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="card-primary">
				<div class="card-header">
					<h2>Activos Fijos</h2>
                     <input class="form-control mr-sm-2" id="busqueda" type="search" onkeyup="buscar()" placeholder="Buscar" aria-label="Search"/> 
				</div>
				<table class="table table-hover" id="tabla">
                    <thead>
                        <tr>
                            <th>Activo</th>
                            <th>Nombre</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Fecha</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var dat in Model){
                            <tr>
                                <td>@dat.activo_fijo</td>
                                <td>@dat.descripcion</td>
                                <td>@dat.marca</td>
                                <td>@dat.modelo</td>
                                <td>@dat.fecha</td>
                                <td>
                                    <form class="form-inline my-2 my-lg-0">
                                      <a  onclick="activosFi('@dat.activo_fijo.Trim()','@dat.descripcion.Trim()')"class="btn btn-success">
						                   <i class="fas fa-check"></i>
					                  </a>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
				</table>
			</div>
		</div>
	</div>
</div>

