@model List<Demo.Models.Proveedores>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="card-primary">
				<div class="card-header">
					<h2>Proveedores</h2>
                    
				</div>
				<table class="table table-hover" id="tabla">
                    <thead>
                        <tr>
                            <th>Proveedor</th>
                            <th>Razon social</th>
                            <th>Calle</th>
                            <th>Status prv</th>
                            <th>Estab</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var dat in Model){
                            <tr>
                                <td>@dat.cod_prv</td>
                                <td>@dat.razon_social</td>
                                <td>@dat.calle</td>
                                <td>@dat.status_proveedor</td>
                                <td>@dat.cod_estab</td>
                                <td>
                                    <form class="form-inline my-2 my-lg-0">
                                      <a  onclick="cod_prv('@dat.cod_prv.Trim()','@dat.razon_social.Trim()')" class="btn btn-success" data-toggle="Seleccionar" title="Seleccionar">
						                   <i class="fas fa-check"></i>
					                  </a>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script>
$(document).ready( function () {
    $('#tabla').DataTable();
} );
</script>

