@model List<Demo.Models.AlimentacionGastosServicios>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-primary">
                <div class="card-header">
                    <h3>Alimentacion de gastos y servicios de equipos</h3>
                </div>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <form class="form-inline my-2 my-lg-0">
                        <a class="btn btn-outline-primary" href="@Url.Action("NuevoGastoServicios","Catalogos")">
                            <i class="fas fa-file"></i>
                            Nuevo gasto
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        @if (TempData["mensajeINF"] != null)
                        {
                            <div class="alert alert-info alert-dismissible fade show" role="alert">
                                @TempData["mensajeINF"]
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }
                        @if (TempData["mensajeSAVE"] != null)
                        {
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                @TempData["mensajeSAVE"]
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }
                    </form>
                    
                </nav>
                <div class="table-responsive">
                    <table class="table table-hover" id="tabla">
                        <thead>
                            <tr>
                                <th>Folio</th>
                                <th>Equipo</th>
                                <th>Fecha</th>
                                <th>Servicio</th>
                                <th>Código de Establecimiento</th>
                                <th>Refacciones</th>
                                <th>Total</th>
                                <th>Notas</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var dat in Model)
                            {
                                <tr>
                                    <td>@dat.equipo</td>
                                    <td>@dat.eNombre</td>
                                    <td>@dat.fecha_servicio</td>
                                    <td>@dat.sNombre</td>
                                    <td>@dat.cod_estab</td>
                                    <td>@dat.refacciones</td>
                                    <td>@dat.total</td>
                                    <td>@dat.notas</td>
                                    <td>
                                        <a class="btn btn-outline-warning" href="@Url.Action("EditarEquipos","Catalogos", new {id = dat.equipo})">
                                            <i class="fas fa-edit"></i>
                                            Editar
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
$(document).ready( function () {
    $('#tabla').DataTable();
} );
</script>

