@model Demo.Models.EquiposModelView
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-primary">
				<div class="card-header">
				   <h3>Nuevo Equipo</h3>
			   </div>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <form class="form-inline my-2 my-lg-0">
                      <a href="@Url.Action("Equipos","Catalogos")" class="btn btn-outline-primary">
						   <i class="fas fa-arrow-alt-circle-left"></i>
						   Regresar
					  </a>
                    </form>
                </nav>
                @using (Html.BeginForm("NuevoEquipo","Catalogos",FormMethod.Post)){
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-inline">
                    <div class="form-group">
                        <div class="form-group m-2">
                            @Html.Label("equipo","Equipo",new {@class="control-label"})
                            @Html.TextBoxFor(model=> model.equipo,new {@class="form-control"})
                        </div>
                        <div class="form-group m-2">
                            @Html.TextBoxFor(model=> model.nombre,new {@class="form-control"})
                        </div>
                       
                        <div class="form-group m-2">
                            @Html.Label("abreviatura","Abrev",new {@class="control-label"})
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.TextBoxFor(model=> model.abreviatura,new {@class="form-control"})
                        </div>
                        <div class="form-group m-2">
                            @Html.Label("status","Status",new {@class="control-label"})
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.DropDownList("status",Model.StatusList,new {@class="form-control"})
                        </div>
                        <div class="form-group m-2">
                            <button class="btn btn-outline-primary my-2 my-sm-0" href="#">
                                   <span class="far fa-image"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <div class="form-group m-2">
                            @Html.Label("marca","Marca",new {@class="control-label"})
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.DropDownList("marca",Model.MarcasList, new {@class="form-control"})
                        </div>
                       &nbsp;&nbsp;&nbsp;&nbsp;
                       <div class="form-group m-2">
                            @Html.Label("modelo","Modelo",new {@class="control-label"})
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.DropDownList("modelo",Model.ModelosList,new {@class="form-control"})

                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="form-group m-2">
                            @Html.Label("version","Version",new {@class="control-label"})
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.DropDownList("version",Model.VersionList, new {@class="form-control"})
                        </div>
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <div class="form-group m-2">
                            @Html.Label("año","Año",new {@class="control-label"})
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.DropDownList("año",Model.AnniosList, new {@class="form-control"})
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="form-group m-2">
                            @Html.Label("serie","Serie",new {@class="control-label"})
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.TextBoxFor(model=> model.serie,new {@class="form-control"})
                            </div>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="form-group m-2">
                            @Html.Label("tipo_equipo","Tipo",new {@class="control-label"})
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.DropDownList("tipo_equipo",Model.TipoEquipoList, new {@class="form-control"})
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                            <div class="form-group m-1">
                            @Html.Label("uso_equipos","Uso",new {@class="control-label"})
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.DropDownList("uso_equipos",Model.UsosList, new {@class="form-control"})
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-group">
                            <div class="form-group m-2">
                            @Html.Label("cod_estab","Estab.",new {@class="control-label"})
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.DropDownList("cod_estab",Model.EstabList, new {@class="form-control"})
                            </div>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="form-group m-2">
                            @Html.Label("codigo_economico","CódEco",new {@class="control-label"})
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.TextBoxFor(model=> model.codigo_economico,new {@class="form-control"})
                            </div>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="form-group m-2">
                            @Html.Label("caracteristicas","Características", new {@class = "control-label"})
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.TextAreaFor(model=> model.caracteristicas,new {@class="form-control"})
                            </div>
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <div class="form-group m-2">
                            @Html.Label("odometro","Odómetro",new {@class="control-label"})
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.DropDownList("odometro",Model.OdometroList, new {@class="form-control"})
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="checkbox m-2">
                            <div class="checkbox">
                               @Html.Label("sirve_odometro","Sirve odómetro",new {@class="control-label"})
                              @Html.CheckBoxFor(model=> model.sirve_odometro,new {@class="form-control"})
                              
                            </div>
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="form-group m-2">
                            @Html.Label("color","Color",new {@class="control-label"})
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.DropDownList("color",Model.ColorList, new {@class="form-control"})
                        </div>
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <div class="form-group m-2">
                            @Html.Label("activo_fijo","Activo Fijo", new {@class = "control-label"})
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.TextBoxFor(model=> model.activo_fijo,new {@class="form-control"})
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            @*@Html.TextBoxFor(model=> model.descripcion,new {@class="form-control"})*@
                            <input asp-for="activo_nombre" class="form-control" />
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="checkbox m-2">
                         <div class="checkbox">
                              <label>
                                <input type="checkbox" id="cbFijo" value="option1"> Activo Fijo
                              </label>
                             </div>
                        </div>
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <div class="form-group m-2">
                            @Html.Label("equipo_depende","Depende", new {@class = "control-label"})
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.TextBoxFor(model=> model.equipo_depende,new {@class="form-control"})
                            &nbsp;&nbsp;&nbsp;&nbsp;
                             <input asp-for="depende" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <div class="form-group m-2">
                           <b>Vida útil 1: @Html.TextBoxFor(model=> model.vida_util,new {@class="form-control"})</b> 
                                &nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.DropDownList("medida_vida_util",Model.FrecuenciaList, new {@class="form-control"})
                                &nbsp;&nbsp;&nbsp;&nbsp;
                           <b> Garantía 1: @Html.TextBoxFor(model=> model.garantia,new {@class="form-control"})</b> 
                                &nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.DropDownList("medida_garantia",Model.FrecuenciaList, new {@class="form-control"})
                                &nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.Label("lote","Lote", new {@class = "control-label"})
                                &nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.TextBoxFor(model=> model.lote,new {@class="form-control"})
                         </div>
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <div class="form-group m-2">
                           <b>Vida útil 2: @Html.TextBoxFor(model=> model.vida_util2,new {@class="form-control"})</b> 
                                &nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.DropDownList("medida_vida_util2",Model.FrecuenciaList, new {@class="form-control"})
                                &nbsp;&nbsp;&nbsp;&nbsp;
                           <b> Garantía 2: @Html.TextBoxFor(model=> model.garantia2,new {@class="form-control"})</b> 
                                &nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.DropDownList("medida_garantia2",Model.FrecuenciaList, new {@class="form-control"})
                                &nbsp;&nbsp;&nbsp;&nbsp;
                         </div>
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <div class="form-group m-2">
                            <b>Área @Html.TextBoxFor(model=> model.area,new {@class="form-control"})</b> 
                                &nbsp;&nbsp;&nbsp;&nbsp;
                             <input name="nombre_area" style="max-width: 8vw;">
                                &nbsp;&nbsp;&nbsp;&nbsp;
                               <b>Recorrido máximo: @Html.TextBoxFor(model=> model.recorrido_maximo,new {@class="form-control"})</b> 
                        </div>
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <div class="form-group m-2">
                            <b>Depto. @Html.TextBoxFor(model=> model.departamento,new {@class="form-control"})</b> 
                                &nbsp;&nbsp;&nbsp;&nbsp;
                             <input name="nombreDepto" style="max-width: 8vw;">
                       </div>
                    </div>
                </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success"/>
            </div>
            }
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" content></nav>
            </div>
        </div>
    </div>
</div>
@*<div class="container-fluid">
    @Html.Partial("Prueba")
</div>*@




