@model Demo.Models.AlimentacionGSModelView
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-info">
                <div class="card-header">
                    <h3>Nuevo Gasto y servicio de equipo</h3>
                </div>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <form class="form-inline my-2 my-lg-0">
                        <a href="@Url.Action("AlimentacionGastosServicios","Catalogos")" class="btn btn-outline-info" data-toggle="Regresar" title="Regresar">
                            <i class="fas fa-arrow-alt-circle-left"></i>
                            Regresar
                        </a>
                        <a class="btn btn-secondary" onclick="location.reload()" data-toggle="Limpiar" title="Limpiar" style="margin-left: 10px;">
                              <i class="fas fa-trash-alt"></i>
                              Limpiar todo
					    </a>
                            <div class="alert alert-warning alert-dismissible fade show" id="alert" role="alert" style="margin-left: 10px;">
								Error al generar el folio, este establecimiento no esta disponible o el folio ya existe.
							</div>
                    </form>
                </nav>
                @using (Html.BeginForm("NuevoGastoServicios", "Catalogos", FormMethod.Post,new { enctype = "multipart/form-data", id="forma"}))
                {
                    <div class="container-fluid">
                        <div class="row">
                            @*----COLUMNA NUMERO 1*@
                            <div class="col-lg">
                                @Html.Label("fecha", "Fecha", new { @class = "control-label my-2" })
                                <br />
                                @Html.TextBoxFor(model => model.fecha_servicio, new { @class = "my-2", @name = "dtpFecha", @type = "date" })<br>

                                @Html.Label("estab", "Estab", new { @class = "control-label my-2" })
                                @Html.DropDownListFor(model => model.cod_estab, Model.EstabList, new { @class = "form-control",@id="estab_list"})

                                @Html.Label("equipo", "Equipo", new { @class = "control-label" })
                                <div class="input-group" id="inputEquipo">
                                     @Html.TextBoxFor(model => model.equipo, new { @class = "form-control", @onkeydown="onKeyDownEquipo(event)", @id="Equipo", @required="required"})
                                     <span class="input-group-btn">
                                      <a class="btn btn-primary" onclick="equipo()" data-toggle="Buscar" title="Buscar">
                                           <i class="fas fa-search"></i>
					                  </a>
                                    </span>
                                </div>
                               
                                <input class="form-control my-3" id="EquipoN" data-toggle="Equipo" title="Equipo" readonly="readonly" />

                                @Html.Label("modelo", "Modelo", new { @class = "control-label my-2" })
                                <input class="form-control" id="Modelo" data-toggle="Modelo" title="Modelo" readonly="readonly" />

                                @Html.Label("marca", "Marca", new { @class = "control-label my-2" })
                                <input class="form-control" id="Marca" data-toggle="Marca" title="Marca" readonly="readonly" />

                                @Html.Label("año", "Año", new { @class = "control-label my-2" })
                                <input class="form-control" id="Annio" data-toggle="Año" title="Año" readonly="readonly"/>

                                @Html.Label("motor", "Motor", new { @class = "control-label my-2" })
                                <input class="form-control" id="Motor" data-toggle="Motor" title="Motor" readonly="readonly"/>

                                @Html.Label("notas", "Notas", new { @class = "control-label" })
                                @Html.TextAreaFor(model => model.notas, new { @class = "form-control my-2",@rows="5", @id="Notas"})

                                @Html.Label("factura", "Factura", new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.factura_proveedor, new { @class = "form-control my-2",@id="Factura"})
                                @Html.Label("proveedor", "Proveedor", new { @class = "control-label"})
                                <div class="input-group">
                                     @Html.TextBoxFor(model => model.cod_prv, new { @class = "form-control",@id="Proveedor",@onkeydown="onKeyDownPrv(event)"})
                                    <span class="input-group-btn">
                                        <a class="btn btn-primary" onclick="prv()" data-toggle="Buscar" title="Buscar">
                                           <i class="fas fa-search"></i>
					                  </a>
                                    </span>
                                </div>
                               
                                
                                <input class="form-control my-3" id="ProveedorN" data-toggle="Proveedor" title="Proveedor" readonly="readonly" />

                                @Html.Label("neto", "Neto", new { @class = "control-label" })
                                <input type="number" class="form-control" id="Neto" data-toggle="Neto" title="Neto" readonly="readonly" />

                                @Html.Label("iva", "IVA", new { @class = "control-label" })
                                <input type="number" class="form-control" id="IVA" data-toggle="IVA" title="IVA" readonly="readonly" />

                                @Html.Label("ivaret", "IVA Ret", new { @class = "control-label" })
                                <input type="number" class="form-control" id="IVARet" data-toggle="IVA Ret" title="IVA Ret" readonly="readonly"/>

                                @Html.Label("isrret", "ISR Ret", new { @class = "control-label" })
                                <input type="number" class="form-control" id="ISRRet" data-toggle="ISR Ret" title="ISR Ret" readonly="readonly"/>

                                @Html.Label("total", "Total", new { @class = "control-label" })
                                <input type="number" class="form-control" id="total" readonly="readonly"/>


                            </div>
                            @*----COLUMNA NUMERO 2*@
                        <div class="col-lg">
                            @Html.Label("folio", "Folio", new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.folio, new { @class = "form-control my-2",@id="Folio",@readonly="readonly"})

                            @Html.Label("chofer", "Chofer", new { @class = "control-label" })
                            <input class="form-control" id="Chofer" data-toggle="Chofer" title="Chofer" readonly="readonly" />
                            <input class="form-control" id="ChoferN" data-toggle="Chofer" title="Chofer" readonly="readonly"/>

                            @Html.Label("serie", "Serie", new { @class = "control-label" })
                            <input class="form-control" id="Serie" data-toggle="Serie" title="Serie" readonly="readonly"/>

                            @Html.Label("lectura", "Lectura", new { @class = "control-label" })
                             <input class="form-control" id="Lectura1" data-toggle="Lectura" title="Lectura" readonly="readonly"/>
                             
                            @Html.Label("placas", "Placas", new { @class = "control-label" })
                            <input class="form-control" id="Placas" data-toggle="Placas" title="Placas" readonly="readonly"/>
                            <input type="hidden" id="serV" value="0" /> @*campo oculto*@
                            <input type="hidden" id="proV" /> @*campo oculto*@
                            <input type="hidden" id="btnid"/> @*campo oculto*@

                            
                            <table class="table-responsive table-bordered" id="tab">
                                <thead>
                                    <tr>
                                        <th>Servicio</th>
                                        <th>Nombre</th>
                                        <th>Cantidad</th>
                                        <th>Importe</th>
                                        <th>Lectura</th>
                                        <th>Descuento%</th>
                                        <th>Descuento$</th>
                                        <th>Neto</th>
                                        <th>Notas</th>
                                        <th>Acciones</th>
                                    </tr>

                                </thead>
                                <tbody id ="bodytabla">
                                        
                                        @for(int i = 0; i < Model.servicioGS.Count; i++)
                                        {
                                            <tr>
                                                
                                                <td>
                                                    <div class="form-inline">
                                                        @Html.EditorFor(model => model.servicioGS[i].servicio,new {htmlAttributes = new {@class="form-control",@onkeydown="onKeyDownServicio(event)",@style="width:35%;font-size:80%;"}})
                                                            <a class="btn btn-primary" onclick="servicioS(this)" data-toggle="Buscar" title="Buscar" id="buscar-@i-">
                                                                <i class="fas fa-search"></i>
                                                            </a>
                                                    </div>
                                                    
                                                </td>

                                                <td>@Html.EditorFor(model => model.servicioGS[i].servicioN,new {htmlAttributes = new {@class="form-control",@style="font-size:80%;"}})</td>
                                                
                                                <td>@Html.EditorFor(model => model.servicioGS[i].cantidad,new {htmlAttributes = new {@class="form-control",@type="number",@style="font-size:80%;" ,@value="0"}})</td>
                                                
                                                <td>@Html.EditorFor(model => model.servicioGS[i].importe,new {htmlAttributes = new {@class="form-control",@type="number",@style="font-size:80%;",@onchange="calculoS()",@onkeyup="calculoS()" ,@value="0"}})</td>
                                                
                                                <td>@Html.EditorFor(model => model.servicioGS[i].lectura,new {htmlAttributes = new {@class="form-control",@type="number",@style="font-size:80%;" ,@value="0"}})</td>
                                                
                                                <td>@Html.EditorFor(model => model.servicioGS[i].Descporcent,new {htmlAttributes = new {@class="form-control",@type="number",@style="font-size:80%;",@onchange="calculoS()",@onkeyup="calculoS()" ,@value="0"}})</td>
                                                
                                                <td>@Html.EditorFor(model => model.servicioGS[i].Descuni,new {htmlAttributes = new {@class="form-control",@type="number",@style="font-size:80%;",@onchange="calculoS()",@onkeyup="calculoS()" ,@value="0"}})</td>
                                               
                                                <td>@Html.EditorFor(model => model.servicioGS[i].NetoServ,new {htmlAttributes = new {@class="form-control",@type="number",@readonly="readonly",@style="font-size:80%;",@onkeyup="calculoS()" ,@value="0"}})</td>
                                               
                                                <td>@Html.EditorFor(model => model.servicioGS[i].notasserv,new {htmlAttributes = new {@class="form-control"}})</td>
                                                <td>
                                                        <button id="btnadd-@i-"type="button" value="Add" class="btn btn-primary" onclick="nuevaFila(this)">Add</button>
                                                        <button id="btnremove-@i-"type="button" value="Del" class="btn btn-danger" onclick="deleteItem(this)">Del</button>
                                                        @Html.EditorFor(model => model.servicioGS[i].id,new {htmlAttributes = new {@class="form-control",@type="hidden",@value="0"}})
                                                </td>
                                            </tr>
                                        }

                                </tbody>

                            </table>
                        </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <a onclick="confirM()"class="btn btn-success my-2">Guardar</a>
                    </div>
                <div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">¿Desea continuar?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body" id="datos1">
                        
                      </div>
                      <div class="modal-footer" id="footer">
                          
                          
                      </div>
                    </div>
                  </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>
    <div class="modal fade bd-example-modal-xl" id="modalDetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="datos">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
<script>
$(document).ready( function () {
    $('#btnremove-0-').css('visibility','hidden');
    $("#alert").hide();
    //$("").DataTable();
    $.ajax({
            type:"post",
            url:"@Url.Action("FolioGastoServicio","Catalogos")" + "?id=" + "1",
            contentType:"html",
            success:function(respond){
                debugger
                $("#Folio").val(respond);
                var a = $("#Folio").val();
            }
        })
    $("#estab_list").change(function(){
        var estab = $(this).val();
        debugger
        $.ajax({
            type:"post",
            url:"@Url.Action("FolioGastoServicio","Catalogos")" + "?id=" + estab,
            contentType:"html",
            success:function(respond){
                debugger
                $("#Folio").val(respond);
                var a = $("#Folio").val();
                if(a == null || a ==""){
                    $("#alert").show(500);
                }else{
                    $("#alert").hide();
                }
            }
        })
    })
});
        function cod_prv(p, nom) {
            $("#Proveedor").val(p);
            $("#ProveedorN").val(nom);
            $("#modalDetalle").modal('hide');
            $('#Proveedor').prop('readonly', true);
        }
function equipo(){
        $("#datos").empty();
        $.ajax({
            type:"GET",
            url:"@Url.Action("EquipoGastoServicio","Catalogos")",
            success:function(data){
                $("#datos").append(data);
                $('#modalDetalle').modal('show');
            },
            error: function (xhr,ajaxOptions,thrownError){alert(xhr.responseText);}
        });
}
function prv(){
        $("#datos").empty();
        $.ajax({
            type:"GET",
            url:"@Url.Action("Proveedor","Catalogos")",
            success:function(data){
                $("#datos").append(data);
                $('#modalDetalle').modal('show');
                
            },
            error: function (xhr,ajaxOptions,thrownError){alert(xhr.responseText);}
        });
}

function onKeyDownEquipo(event) {

    var codigo = event.which || event.keyCode;

    if(codigo === 113){
      equipo();
    }
}
function onKeyDownPrv(event) {

    var codigo = event.which || event.keyCode;

    if(codigo === 113){
      prv();
    }
}
function onKeyDownServicio(event) {
    var codigo = event.which || event.keyCode;

    if(codigo === 113){
      servicioS();
    }
}
function serv1(servicio,nombre){
    var id = $("#serV").val();
    //document.getElementById("servicioGS_"+id+"__servicio").value=servicio;
    $("#servicioGS_"+id+"__servicio").val(servicio);
    $("#servicioGS_"+id+"__servicio").prop('readonly', true);
    $("#servicioGS_"+id+"__servicioN").val(nombre);
    $("#servicioGS_"+id+"__servicioN").prop('readonly', true);
    //$("#buscar-"+id+"-").css('pointer-events', 'none');
    $('#modalDetalle').modal('hide');   
}
function servicioS(){
        $("#datos").empty();
        $.ajax({
            type:"GET",
            url:"@Url.Action("Serv","Catalogos")",
            success:function(data){
                $("#datos").append(data);
                $('#modalDetalle').modal('show');       
            },
            error: function (xhr,ajaxOptions,thrownError){alert(xhr.responseText);}
        });
}
function equipoGS(equipo,nombre,chofer,nombreCh,modelo,marca,serie,lectura,año,motor,placas){
    $('#Equipo').val(equipo);
    $('#Equipo').prop('readonly', true);
    $('#EquipoN').val(nombre);
    $('#Chofer').val(chofer);
    $('#ChoferN').val(nombreCh);
    $('#Modelo').val(modelo);
    $('#Marca').val(marca);
    $('#Serie').val(serie);
    $('#Lectura').val(lectura);
    $('#Annio').val(año);
    $('#Motor').val(motor);
    $('#Placas').val(placas);
    $('#modalDetalle').modal('hide');
}
function deleteItem(btn){
     var b = $(btn).closest('tr').index();
     //b = eval(b) + 1;
     $("#servicioGS_"+b+"__id").val(0);
     $(btn).closest('tr').css("visibility","collapse");

}
function nuevaFila(btn){
    $("#btnid").val(btn.id);
    
    var s = $(btn).closest('tr').index(); //numero de servicio, id de la fila
    var servicio = $("#servicioGS_"+s+"__servicio").val();
    var cantidad = $("#servicioGS_"+s+"__cantidad").val();
    var importe = $("#servicioGS_"+s+"__importe").val();
    var lectura = $("#servicioGS_"+s+"__lectura").val();
    s*=1;

    if(servicio !=null && servicio != "" && cantidad != null && cantidad != 0 && cantidad !="" && importe != 0 && importe !=null && importe !="" && lectura != null && lectura != "" && lectura !=0){
        
        $("#servicioGS_"+s+"__lectura").prop('readonly', true);
        $("#servicioGS_"+s+"__cantidad").prop('readonly', true);
        $("#servicioGS_"+s+"__importe").prop('readonly', true);
        $("#servicioGS_"+s+"__Descporcent").prop('readonly', true);
        $("#servicioGS_"+s+"__Descuni").prop('readonly', true);
        //$("#servicioGS_"+s+"__notasserv").prop('readonly', true);
        $("#buscar-"+s+"-").css('pointer-events', 'none');
        
        
        var b = s + 1;
        
        $("#serV").val(b);
        var table = document.getElementById('tab');
        var rows = table.getElementsByTagName('tr');
        var rowOuterHtml = rows[rows.length -1].outerHTML;

        rowOuterHtml = rowOuterHtml.replaceAll('_'+ s +'_','_'+b+'_');
        rowOuterHtml = rowOuterHtml.replaceAll('['+ s +']','['+b+']');
        rowOuterHtml = rowOuterHtml.replaceAll('-'+ s +'-','-'+b+'-');
        var newRow = table.insertRow();
        newRow.innerHTML = rowOuterHtml;
        
        $("#servicioGS_"+b+"__servicio").prop('readonly', false);
        $("#servicioGS_"+b+"__servicioN").prop('readonly', false);
        $("#servicioGS_"+b+"__lectura").prop('readonly', false);
        $("#servicioGS_"+b+"__cantidad").prop('readonly', false);
        $("#servicioGS_"+b+"__importe").prop('readonly', false);
        $("#servicioGS_"+b+"__Descporcent").prop('readonly', false);
        $("#servicioGS_"+b+"__Descuni").prop('readonly', false);
        //$("#servicioGS_"+b+"__notasserv").prop('readonly', false);
        $("#buscar-"+b+"-").css('pointer-events', '');

        var btnAddID = $("#btnid").val();
        $('#'+btnAddID).css('visibility','hidden');
        var btnDelete = btnAddID.replaceAll('btnadd','btnremove');
        $('#'+btnDelete).css('visibility','visible');
    }else{
        s=s+1;
        var data="<label>Faltan datos por ingresar en el servicio #"+s+".</label>";
            var dat ='<button type="button" class="btn btn-secondary" onclick="cerrar()">Cerrar</button>';
            $("#datos1").append(data);
            $("#footer").append(dat);
            $("#Importe").val('0');
            $("#modalConfirm").modal('show');
    }
}
function calculoS(){
    var id = $("#serV").val();
    id*=1;
    var lon = id+1;
    lon *=1;
    var servicio = $("#serV").val();
    var importe = ((document.getElementById("servicioGS_"+id+"__importe")||{}).value)||"";
        importe *=1;
    var descporcent = ((document.getElementById("servicioGS_"+id+"__Descporcent")||{}).value)||""; 
        descporcent *=1;
    var descUni = ((document.getElementById("servicioGS_"+id+"__Descuni")||{}).value)||""; 
        descUni *=1;
    var subneto = 0.0;
    var descuento = 0.0;
    var ISR = 0.0;
    var neto = 0.0;
    var iva = 0.0;
    var Ivaret = 0.0;
    var total = 0.0;
    
    //servicio1
    if(descUni > importe){
        var data="<label>El descuento $ es mayor al importe ingresado.</label>";
            var dat ='<button type="button" class="btn btn-secondary" onclick="cerrar()">Cerrar</button>';
            $("#datos1").append(data);
            $("#footer").append(dat);
            $("#servicioGS_"+id+"__Descuni").val('0');
            $("#modalConfirm").modal('show');
    }else{
        subneto = importe - descUni;
    }
    
    if((descporcent * importe) != 0){
        descuento = (descporcent * importe)/100;

        if(descuento > importe){
        var data="<label>El descuento % es mayor al importe ingresado.</label>";
            var dat ='<button type="button" class="btn btn-secondary" onclick="cerrar()">Cerrar</button>';
            $("#datos1").append(data);
            $("#footer").append(dat);
            $("#servicioGS_"+id+"__Descporcent").val('0');
            $("#modalConfirm").modal('show');
        }else{
            subneto = subneto - descuento;
        }
        
    }
    document.getElementById("servicioGS_"+id+"__NetoServ").value=(subneto)*1;
    for(var i=0;i<lon;i++){
        var a = ((document.getElementById("servicioGS_"+i+"__NetoServ")||{}).value)||""; 
        neto += (a)*1;
    }
    if(neto * 16 != 0){
        iva = (neto * 16)/100;
    }
    if(neto * 10 != 0){
        ISR = (neto * 10)/100;
    }
    if((iva / 3) > 0){
        Ivaret = (iva / 3) * 2;
    }

    total = neto + iva ;
    total = total - ISR - Ivaret;
    $("#Neto").val(neto);
    $("#IVA").val(iva);
    $("#ISRRet").val(ISR);
    $("#IVARet").val(Ivaret);
    $("#total").val(total);


}
function confirM(){
    var id=$("#serV").val();
    id*=1;
    id+=1;
    var prv = $("#Proveedor").val();
    var fol = $("#Folio").val();
    var eq = $("#Equipo").val();
    var prov = $("#proV").val();
    //limpiar modal
    $("#datos1").empty();
    $("#footer").empty();
    if(fol == null || fol == ""){
        var data="<label>Seleccione un establecimiento.</label>";
            var dat ='<button type="button" class="btn btn-secondary" onclick="cerrar()">Cerrar</button>';
            $("#datos1").append(data);
            $("#footer").append(dat);
            $("#modalConfirm").modal('show');
    }else if((prv == null || prv =="") && (prov == null || prov == "")){
        
                var data="<label>No ha seleccionado un proveedor. ¿Desea continuar?.</label>";
                var dat ='<button class="btn btn-success my-2" onclick="aceptar()">Aceptar</button> <button type="button" class="btn btn-secondary" onclick="cerrar()">Cancelar</button>';
                $("#datos1").append(data);
                $("#footer").append(dat);
                $('#modalConfirm').modal('show');
        }else if ( eq == null || eq == ""){
            
                var data="<label>Seleccione un Equipo.</label>";
                var dat ='<button type="button" class="btn btn-secondary" onclick="cerrar()">Cerrar</button>';
                $("#datos1").append(data);
                $("#footer").append(dat);
                $("#modalConfirm").modal('show');
            }else{
                var lecstat = false;
                for(var i = 0; i < id; i++){
                    if($("#servicioGS_"+i+"__lectura").length){
                        var lec = ((document.getElementById("servicioGS_"+i+"__lectura")||{}).value)||"";
                                if((lec)*1 == 0 || lec == null){
                                    $("#datos1").empty();
                                    $("#footer").empty();
                                    var data="<label>Hay conceptos de servicios, en los cuales la cantidad o el importe son Cero.</label>";
                                    var dat ='<button type="button" class="btn btn-secondary" onclick="cerrar()">Cerrar</button>';
                                    $("#datos1").append(data);
                                    $("#footer").append(dat);
                                    $("#modalConfirm").modal('show');
                                    i = (id + 1)*1;
                                    lecstat = true;
                                }
                    }            
                 }
                var canstat = false;
                 for(var i = 0; i < id; i++){
                     if($("#servicioGS_"+i+"__cantidad").length){
                         var can = ((document.getElementById("servicioGS_"+i+"__cantidad")||{}).value)||"";
                                        if((can)*1 == 0 || can == null){
                                            $("#datos1").empty();
                                            $("#footer").empty();
                                            var data="<label>Hay conceptos de servicios, en los cuales la cantidad o el importe son Cero.</label>";
                                            var dat ='<button type="button" class="btn btn-secondary" onclick="cerrar()">Cerrar</button>';
                                            $("#datos1").append(data);
                                            $("#footer").append(dat);
                                            $("#modalConfirm").modal('show');
                                            i = (id + 1)*1;
                                            canstat = true;
                                        }
                     }                   
                    }
                var servi = false;
                 for(var i = 0; i < id; i++){
                     if($("#servicioGS_"+i+"__servicio").length){
                         var can = ((document.getElementById("servicioGS_"+i+"__servicio")||{}).value)||"";
                                        if((can)*1 == 0 || can == null){
                                            $("#datos1").empty();
                                            $("#footer").empty();
                                            var data="<label>Hay conceptos de servicios, en los cuales la cantidad o el importe son Cero.</label>";
                                            var dat ='<button type="button" class="btn btn-secondary" onclick="cerrar()">Cerrar</button>';
                                            $("#datos1").append(data);
                                            $("#footer").append(dat);
                                            $("#modalConfirm").modal('show');
                                            i = (id + 1)*1;
                                            servi = true;
                                        }
                     }                   
                    }
                var impstat = false;                       
                for(var i = 0; i < id; i++){
                    if($("#servicioGS_"+i+"__importe").length){
                        var imp = ((document.getElementById("servicioGS_"+i+"__importe")||{}).value)||"";
                                                if((imp)*1 == 0 || imp == null){
                                                    $("#datos1").empty();
                                                    $("#footer").empty();
                                                    var data="<label>Hay conceptos de servicios, en los cuales la cantidad o el importe son Cero.</label>";
                                                    var dat ='<button type="button" class="btn btn-secondary" onclick="cerrar()">Cerrar</button>';
                                                    $("#datos1").append(data);
                                                    $("#footer").append(dat);
                                                    $("#modalConfirm").modal('show');
                                                    i = (id + 1)*1;
                                                    impstat = true;
                                                }
                    }                                   
                 }
                 if(lecstat != true && canstat != true && impstat != true && servi != true){
		             $("#forma").submit();
                 }                       
            }
    
}
function cerrar(){
    $('#modalConfirm').modal('hide');
    $("#datos1").empty();
    $("#footer").empty();
    }
function aceptar() {
     $("#proV").val('2');
     confirM();
}
</script>

