@model Demo.Models.AlimentacionGSModelView
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-info">
                <div class="card-header">
                    <h3>Nuevo Servicio</h3>
                </div>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <form class="form-inline my-2 my-lg-0">
                        <a href="@Url.Action("AlimentacionGastosServicios","Catalogos")" class="btn btn-outline-info" data-toggle="Regresar" title="Regresar">
                            <i class="fas fa-arrow-alt-circle-left"></i>
                            Regresar
                        </a>
                            <div class="alert alert-warning alert-dismissible fade show" id="alert" role="alert" style="margin-left: 10px;">
								Error al generar el folio, este establecimiento no esta disponible o el folio ya existe.
							</div>
                    </form>
                </nav>
                @using (Html.BeginForm("NuevoGastoServicios", "Catalogos", FormMethod.Post,new { enctype = "multipart/form-data", id="forma"}))
                {
                    <div class="container-fluid">
                        <div class="row">
                            @*----COLUMNA NUMERO 1*@
                            <div class="col-lg">
                                @Html.Label("fecha", "Fecha", new { @class = "control-label my-2" })
                                <br />
                                @Html.TextBoxFor(model => model.fecha_servicio, new { @class = "my-2", @name = "dtpFecha", @type = "date" })<br>

                                @Html.Label("estab", "Estab", new { @class = "control-label my-2" })
                                @Html.DropDownListFor(model => model.cod_estab, Model.EstabList, new { @class = "form-control",@id="estab_list"})

                                @Html.Label("equipo", "Equipo", new { @class = "control-label my-2" })
                                <div class="input-group">
                                     @Html.TextBoxFor(model => model.equipo, new { @class = "form-control my-2",@onkeydown="onKeyDownEquipo(event)",@id="Equipo",@required="required"})
                                     <span class="input-group-btn">
                                      <a class="btn btn-primary" onclick="equipo()" data-toggle="Buscar" title="Buscar">
                                           <i class="fas fa-search"></i>
					                  </a>
                                    </span>
                                </div>
                               
                                <input class="form-control" id="EquipoN" data-toggle="Equipo" title="Equipo" readonly="readonly" />

                                @Html.Label("modelo", "Modelo", new { @class = "control-label my-2" })
                                <input class="form-control" id="Modelo" data-toggle="Modelo" title="Modelo" readonly="readonly" />

                                @Html.Label("marca", "Marca", new { @class = "control-label my-2" })
                                <input class="form-control" id="Marca" data-toggle="Marca" title="Marca" readonly="readonly" />

                                @Html.Label("año", "Año", new { @class = "control-label my-2" })
                                <input class="form-control" id="Annio" data-toggle="Año" title="Año" readonly="readonly"/>

                                @Html.Label("motor", "Motor", new { @class = "control-label my-2" })
                                <input class="form-control" id="Motor" data-toggle="Motor" title="Motor" readonly="readonly"/>

                                @Html.Label("notas", "Notas", new { @class = "control-label" })
                                @Html.TextAreaFor(model => model.notas2, new { @class = "form-control my-2",@rows="5"})

                                @Html.Label("factura", "Factura", new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.factura_proveedor, new { @class = "form-control my-2"})
                                @Html.Label("proveedor", "Proveedor", new { @class = "control-label" })
                                <div class="input-group">
                                     @Html.TextBoxFor(model => model.cod_prv, new { @class = "form-control my-2",@id="Proveedor",@onkeydown="onKeyDownPrv(event)"})
                                    <span class="input-group-btn">
                                        <a class="btn btn-primary" onclick="prv()" data-toggle="Buscar" title="Buscar">
                                           <i class="fas fa-search"></i>
					                  </a>
                                    </span>
                                </div>
                               
                                
                                <input class="form-control" id="ProveedorN" data-toggle="Proveedor" title="Proveedor" readonly="readonly" />

                                @Html.Label("neto", "Neto", new { @class = "control-label" })
                                <input type="number" class="form-control" id="Neto" data-toggle="Neto" title="Neto" readonly="readonly" />

                                @Html.Label("iva", "IVA", new { @class = "control-label" })
                                <input type="number" class="form-control" id="IVA" data-toggle="IVA" title="IVA" readonly="readonly" />

                                @Html.Label("ivaret", "IVA Ret", new { @class = "control-label" })
                                <input type="number" class="form-control" id="IVARet" data-toggle="IVA Ret" title="IVA Ret" readonly="readonly"/>

                                @Html.Label("isrret", "ISR Ret", new { @class = "control-label" })
                                <input type="number" class="form-control" id="ISRRet" data-toggle="ISR Ret" title="ISR Ret" readonly="readonly"/>

                                @Html.Label("total", "Total", new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.total, new { @class = "form-control", @type = "number",@id="total",@readonly="readonly" })


                            </div>
                            @*----COLUMNA NUMERO 2*@
                        <div class="col-lg">
                            @Html.Label("folio", "Folio", new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.folio, new { @class = "form-control my-2",@id="Folio",@readonly="readonly"})

                            @Html.Label("chofer", "Chofer", new { @class = "control-label" })
                            <input class="form-control" id="Chofer" data-toggle="Chofer" title="Chofer" readonly="readonly" />
                            <input class="form-control" id="ChoferN" data-toggle="Chofer" title="Chofer" readonly="readonly"/>

                            @Html.Label("serie", "Serie", new { @class = "control-label" })
                            <input class="form-control" id="Serie" data-toggle="Serie" title="Serie" readonly="readonly"/>

                            @Html.Label("lectura", "Lectura", new { @class = "control-label" })
                             <input class="form-control" id="Lectura1" data-toggle="Lectura" title="Lectura" readonly="readonly"/>
                             
                            @Html.Label("placas", "Placas", new { @class = "control-label" })
                            <input class="form-control" id="Placas" data-toggle="Placas" title="Placas" readonly="readonly"/>
                            <input type="hidden" id="serV" /> @*campo oculto*@
                            <div class="flex-column flex-row" style="background-color:#D1F7F8;">
                                <div class="form-group">
                                    @Html.Label("servicio", "Servicio1:", new { @class = "control-label" })
                                    <div class="input-group">
                                         @Html.TextBoxFor(model => model.servicio, new { @class = "form-control",@id="servicio",@onkeydown="onKeyDownServicio(event,'1')"})
                                        <span class="input-group-btn">
                                            <a class="btn btn-primary" onclick="servicio('1')" data-toggle="Buscar" title="Buscar">
                                                   <i class="fas fa-search"></i>
					                          </a>
                                        </span>
                                    </div>
                                    <input class="form-control" id="ServicioN" data-toggle="Servicio" title="Servicio" readonly="readonly"/>
                                    @Html.Label("cantidad", "Cantidad", new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.cantidad, new { @class = "form-control", @type = "number",@id="Cantidad",@required ="required" })
                                    @Html.Label("importe", "Importe", new { @class = "control-label" })
                                    <input type="number" class="form-control" id="Importe" data-toggle="Importe" title="Importe" onchange="calculos(this.value)" onkeyup="calculos(this.value)" required="required"/>
                                    @Html.Label("descuento", "%Descuento", new { @class = "control-label"})
                                    <input type="number" class="form-control" id="DescuentoPorc" data-toggle="Descuento %" title="Descuento %" onchange="calculos(this.value)" onkeyup="calculos(this.value)"/>
                                    @Html.Label("descuento", "$Descuento", new { @class = "control-label" })
                                    <input type="number" class="form-control" id="DescuentoUnidad" data-toggle="Descuento $" title="Descuento $" onchange="calculos(this.value)" onkeyup="calculos(this.value)"/>
                                    @Html.Label("lectura", "Lectura", new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.lectura, new { @class = "form-control", @type = "number",@id="Lectura",@required="required" })
                                    @Html.Label("neto", "Neto", new { @class = "control-label" })
                                    <input type="number" class="form-control" id="Neto1" data-toggle="Neto" title="Neto"/>
                                    @Html.Label("notas", "Notas", new { @class = "control-label" })
                                    @Html.TextAreaFor(model => model.notas, new { @class = "form-control my-2",@rows="5"})
                              </div>
                              <div class="form-group">
                                  @Html.Label("servicio", "Servicio2:", new { @class = "control-label" })
                                    <div class="input-group">
                                         @Html.TextBoxFor(model => model.servicio2, new { @class = "form-control",@id="servicio2",@onkeydown="onKeyDownServicio(event,'2')"})
                                        <span class="input-group-btn">
                                            <a class="btn btn-primary" onclick="servicio('2')" data-toggle="Buscar" title="Buscar">
                                                   <i class="fas fa-search"></i>
					                          </a>
                                        </span>
                                    </div>
                                    <input class="form-control" id="ServicioN2" data-toggle="Servicio" title="Servicio" readonly="readonly"/>
                                    @Html.Label("cantidad", "Cantidad", new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.cantidad2, new { @class = "form-control", @type = "number",@id="Cantidad2",@required ="required" })
                                    @Html.Label("importe", "Importe", new { @class = "control-label" })
                                    <input type="number" class="form-control" id="Importe2" data-toggle="Importe" title="Importe" onchange="calculos(this.value)" onkeyup="calculos(this.value)" required="required"/>
                                    @Html.Label("descuento", "%Descuento", new { @class = "control-label"})
                                    <input type="number" class="form-control" id="DescuentoPorc2" data-toggle="Descuento %" title="Descuento %" onchange="calculos(this.value)" onkeyup="calculos(this.value)"/>
                                    @Html.Label("descuento", "$Descuento", new { @class = "control-label" })
                                    <input type="number" class="form-control" id="DescuentoUnidad2" data-toggle="Descuento $" title="Descuento $" onchange="calculos(this.value)" onkeyup="calculos(this.value)"/>
                                    @Html.Label("lectura", "Lectura", new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.lectura2, new { @class = "form-control", @type = "number",@id="Lectura2",@required="required" })
                                    @Html.Label("neto", "Neto", new { @class = "control-label" })
                                    <input type="number" class="form-control" id="Neto2" data-toggle="Neto" title="Neto"/>
                                    @Html.Label("notas", "Notas", new { @class = "control-label" })
                                    @Html.TextAreaFor(model => model.notasserv2, new { @class = "form-control my-2",@rows="5"})
                                </div>
                            </div>
                            <div class="flex-column flex-row" style="background-color:#D1F7F8;">
                                <div class="form-group">
                                    @Html.Label("servicio", "Servicio3:", new { @class = "control-label" })
                                    <div class="input-group">
                                         @Html.TextBoxFor(model => model.servicio3, new { @class = "form-control",@id="servicio3",@onkeydown="onKeyDownServicio(event,'3')"})
                                        <span class="input-group-btn">
                                            <a class="btn btn-primary" onclick="servicio('3')" data-toggle="Buscar" title="Buscar">
                                                   <i class="fas fa-search"></i>
					                          </a>
                                        </span>
                                    </div>
                                    <input class="form-control" id="ServicioN3" data-toggle="Servicio" title="Servicio" readonly="readonly"/>
                                    @Html.Label("cantidad", "Cantidad", new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.cantidad3, new { @class = "form-control", @type = "number",@id="Cantidad3",@required ="required" })
                                    @Html.Label("importe", "Importe", new { @class = "control-label" })
                                    <input type="number" class="form-control" id="Importe3" data-toggle="Importe" title="Importe" onchange="calculos(this.value)" onkeyup="calculos(this.value)" required="required"/>
                                    @Html.Label("descuento", "%Descuento", new { @class = "control-label"})
                                    <input type="number" class="form-control" id="DescuentoPorc3" data-toggle="Descuento %" title="Descuento %" onchange="calculos(this.value)" onkeyup="calculos(this.value)"/>
                                    @Html.Label("descuento", "$Descuento", new { @class = "control-label" })
                                    <input type="number" class="form-control" id="DescuentoUnidad3" data-toggle="Descuento $" title="Descuento $" onchange="calculos(this.value)" onkeyup="calculos(this.value)"/>
                                    @Html.Label("lectura", "Lectura", new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.lectura3, new { @class = "form-control", @type = "number",@id="Lectura2",@required="required" })
                                    @Html.Label("neto", "Neto", new { @class = "control-label" })
                                    <input type="number" class="form-control" id="Neto3" data-toggle="Neto" title="Neto"/>
                                    @Html.Label("notas", "Notas", new { @class = "control-label" })
                                    @Html.TextAreaFor(model => model.notasserv3, new { @class = "form-control my-2",@rows="5"})
                                </div>
                                <div class="form-group">
                                    @Html.Label("servicio", "Servicio4:", new { @class = "control-label" })
                                    <div class="input-group">
                                         @Html.TextBoxFor(model => model.servicio4, new { @class = "form-control",@id="servicio4",@onkeydown="onKeyDownServicio(event,'4')"})
                                        <span class="input-group-btn">
                                            <a class="btn btn-primary" onclick="servicio('4')" data-toggle="Buscar" title="Buscar">
                                                   <i class="fas fa-search"></i>
					                          </a>
                                        </span>
                                    </div>
                                    <input class="form-control" id="ServicioN4" data-toggle="Servicio" title="Servicio" readonly="readonly"/>
                                    @Html.Label("cantidad", "Cantidad", new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.cantidad4, new { @class = "form-control", @type = "number",@id="Cantidad4",@required ="required" })
                                    @Html.Label("importe", "Importe", new { @class = "control-label" })
                                    <input type="number" class="form-control" id="Importe4" data-toggle="Importe" title="Importe" onchange="calculos(this.value)" onkeyup="calculos(this.value)" required="required"/>
                                    @Html.Label("descuento", "%Descuento", new { @class = "control-label"})
                                    <input type="number" class="form-control" id="DescuentoPorc4" data-toggle="Descuento %" title="Descuento %" onchange="calculos(this.value)" onkeyup="calculos(this.value)"/>
                                    @Html.Label("descuento", "$Descuento", new { @class = "control-label" })
                                    <input type="number" class="form-control" id="DescuentoUnidad4" data-toggle="Descuento $" title="Descuento $" onchange="calculos(this.value)" onkeyup="calculos(this.value)"/>
                                    @Html.Label("lectura", "Lectura", new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.lectura4, new { @class = "form-control", @type = "number",@id="Lectura4",@required="required" })
                                    @Html.Label("neto", "Neto", new { @class = "control-label" })
                                    <input type="number" class="form-control" id="Neto4" data-toggle="Neto" title="Neto"/>
                                    @Html.Label("notas", "Notas", new { @class = "control-label" })
                                    @Html.TextAreaFor(model => model.notasserv4, new { @class = "form-control my-2",@rows="5"})
                                </div>
                            </div>
                            <div class="flex-column flex-row" style="background-color:#D1F7F8;">
                                <div class="form-group">
                                    @Html.Label("servicio", "Servicio5:", new { @class = "control-label" })
                                    <div class="input-group">
                                         @Html.TextBoxFor(model => model.servicio5, new { @class = "form-control",@id="servicio5",@onkeydown="onKeyDownServicio(event,'5')"})
                                        <span class="input-group-btn">
                                            <a class="btn btn-primary" onclick="servicio('5')" data-toggle="Buscar" title="Buscar">
                                                   <i class="fas fa-search"></i>
					                          </a>
                                        </span>
                                    </div>
                                    <input class="form-control" id="ServicioN5" data-toggle="Servicio" title="Servicio" readonly="readonly"/>
                                    @Html.Label("cantidad", "Cantidad", new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.cantidad5, new { @class = "form-control", @type = "number",@id="Cantidad5",@required ="required" })
                                    @Html.Label("importe", "Importe", new { @class = "control-label" })
                                    <input type="number" class="form-control" id="Importe5" data-toggle="Importe" title="Importe" onchange="calculos(this.value)" onkeyup="calculos(this.value)" required="required"/>
                                    @Html.Label("descuento", "%Descuento", new { @class = "control-label"})
                                    <input type="number" class="form-control" id="DescuentoPorc5" data-toggle="Descuento %" title="Descuento %" onchange="calculos(this.value)" onkeyup="calculos(this.value)"/>
                                    @Html.Label("descuento", "$Descuento", new { @class = "control-label" })
                                    <input type="number" class="form-control" id="DescuentoUnidad5" data-toggle="Descuento $" title="Descuento $" onchange="calculos(this.value)" onkeyup="calculos(this.value)"/>
                                    @Html.Label("lectura", "Lectura", new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.lectura5, new { @class = "form-control", @type = "number",@id="Lectura5",@required="required" })
                                    @Html.Label("neto", "Neto", new { @class = "control-label" })
                                    <input type="number" class="form-control" id="Neto5" data-toggle="Neto" title="Neto"/>
                                    @Html.Label("notas", "Notas", new { @class = "control-label" })
                                    @Html.TextAreaFor(model => model.notasserv5, new { @class = "form-control my-2",@rows="5"})
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="button" value="Guardar" class="btn btn-success my-2" onclick="confirm()" />
                    </div>
                <div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">¿Desea continuar?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body" id="datos1">
                        
                      </div>
                      <div class="modal-footer" id="footer">
                          
                          
                      </div>
                    </div>
                  </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>
    <div class="modal fade bd-example-modal-xl" id="modalDetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="datos">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <script>
$(document).ready( function () {
    $("#alert").hide();
    $("").DataTable();
    $.ajax({
            type:"post",
            url:"@Url.Action("FolioGastoServicio","Catalogos")" + "?id=" + "1",
            contentType:"html",
            success:function(respond){
                debugger
                $("#Folio").val(respond);
                var a = $("#Folio").val();
            }
        })
    $("#estab_list").change(function(){
        var estab = $(this).val();
        debugger
        $.ajax({
            type:"post",
            url:"@Url.Action("FolioGastoServicio","Catalogos")" + "?id=" + estab,
            contentType:"html",
            success:function(respond){
                debugger
                $("#Folio").val(respond);
                var a = $("#Folio").val();
                if(a == null || a ==""){
                    $("#alert").show(500);
                }else{
                    $("#alert").hide();
                }
            }
        })
    })
});
        function cod_prv(p, nom) {
            $("#Proveedor").val(p);
            $("#ProveedorN").val(nom);
            $("#modalDetalle").modal('hide');
        }
function equipo(){
        $("#datos").empty();
        $.ajax({
            type:"GET",
            url:"@Url.Action("EquipoGastoServicio","Catalogos")",
            success:function(data){
                $("#datos").append(data);
                $('#modalDetalle').modal('show');
            },
            error: function (xhr,ajaxOptions,thrownError){alert(xhr.responseText);}
        });
}
function prv(){
        $("#datos").empty();
        $.ajax({
            type:"GET",
            url:"@Url.Action("Proveedor","Catalogos")",
            success:function(data){
                $("#datos").append(data);
                $('#modalDetalle').modal('show');
            },
            error: function (xhr,ajaxOptions,thrownError){alert(xhr.responseText);}
        });
}

function onKeyDownEquipo(event) {

    var codigo = event.which || event.keyCode;

    if(codigo === 113){
      equipo();
    }
}
function onKeyDownPrv(event) {

    var codigo = event.which || event.keyCode;

    if(codigo === 113){
      prv();
    }
}
function onKeyDownServicio(event,serv) {
    var s = serv;
    var codigo = event.which || event.keyCode;

    if(codigo === 113){
      servicio(s);
    }
}
function servicio(serv){
    $("#serV").val(serv);
        $("#datos").empty();
        $.ajax({
            type:"GET",
            url:"@Url.Action("Serv","Catalogos")",
            success:function(data){
                $("#datos").append(data);
                $('#modalDetalle').modal('show');
            },
            error: function (xhr,ajaxOptions,thrownError){alert(xhr.responseText);}
        });
}
function equipoGS(equipo,nombre,chofer,nombreCh,modelo,marca,serie,lectura,año,motor,placas){
    $('#Equipo').val(equipo);
    $('#EquipoN').val(nombre);
    $('#Chofer').val(chofer);
    $('#ChoferN').val(nombreCh);
    $('#Modelo').val(modelo);
    $('#Marca').val(marca);
    $('#Serie').val(serie);
    $('#Lectura').val(lectura);
    $('#Annio').val(año);
    $('#Motor').val(motor);
    $('#Placas').val(placas);
    $('#modalDetalle').modal('hide');
}
function serv1(servicio,nombre){
    var s = $("#serV").val(); //numero de servicio
    switch(s){
        case '1': 
            $('#servicio').val(servicio);
            $('#ServicioN').val(nombre);
            $('#modalDetalle').modal('hide');
            break;
        case '2': 
            $('#servicio2').val(servicio);
            $('#ServicioN2').val(nombre);
            $('#modalDetalle').modal('hide');
            break;
        case '3': 
            $('#servicio3').val(servicio);
            $('#ServicioN3').val(nombre);
            $('#modalDetalle').modal('hide');
            break;
        case '4': 
            $('#servicio4').val(servicio);
            $('#ServicioN4').val(nombre);
            $('#modalDetalle').modal('hide');
            break;
        case '5': 
            $('#servicio5').val(servicio);
            $('#ServicioN5').val(nombre);
            $('#modalDetalle').modal('hide');
            break;
    }

    
    
}
function calculos(){
    var servicio = $("#serV").val();

    var importe = $("#Importe").val();
        importe *=1;
    var importe2 = $("#Importe2").val();
        importe2 *=1;
    var importe3 = $("#Importe3").val();
        importe3 *=1;
    var importe4 = $("#Importe4").val();
        importe4 *=1;
    var importe5 = $("#Importe5").val();
        importe5 *=1;
    var descporcent = $("#DescuentoPorc").val();
        descporcent *=1;
    var descporcent2 = $("#DescuentoPorc2").val();
        descporcent2 *=1;
    var descporcent3 = $("#DescuentoPorc3").val();
        descporcent3 *=1;
    var descporcent4 = $("#DescuentoPorc4").val();
        descporcent4 *=1;
    var descporcent5 = $("#DescuentoPorc5").val();
        descporcent5 *=1;
    var descUni = $("#DescuentoUnidad").val();
        descUni *=1;
    var descUni2 = $("#DescuentoUnidad2").val();
        descUni2 *=1;
    var descUni3 = $("#DescuentoUnidad3").val();
        descUni3 *=1;
    var descUni4 = $("#DescuentoUnidad4").val();
        descUni4 *=1;
    var descUni5 = $("#DescuentoUnidad5").val();
        descUni5 *=1;
    var subneto = 0.0;
    var subneto2 = 0.0;
    var subneto3 = 0.0;
    var subneto4 = 0.0;
    var subneto5 = 0.0;
    var descuento = 0.0;
    var descuento2 = 0.0;
    var descuento3 = 0.0;
    var descuento4 = 0.0;
    var descuento5 = 0.0;
    var ISR = 0.0;
    var neto = 0.0;
    var iva = 0.0;
    var Ivaret = 0.0;
    var total = 0.0;
    
    //servicio1
    subneto = importe - descUni;
    if(descporcent * importe != 0){
        descuento = (descporcent * importe)/100;
        subneto = subneto - descuento;
    }
    
    $("#Neto1").val(subneto);
    //servicio 2
    subneto2 = importe2 - descUni2;
    if(descporcent2 * importe2 !=0){
        descuento2 =(descporcent2 * importe2)/100;
        subneto2 = subneto2 - descuento2;
    }
    $("#Neto2").val(subneto2);
    //servicio 3
    subneto3 = importe3 - descUni3;
    if(descporcent3 * importe3 !=0){
        descuento3 =(descporcent3 * importe3)/100;
        subneto3 = subneto3 - descuento3;
    }
    
    $("#Neto3").val(subneto3);
    //servicio 4
    subneto4 = importe4 - descUni4;
    if(descporcent4 * importe4 !=0){
        descuento4 =(descporcent4 * importe4)/100;
        subneto4 = subneto4 - descuento4;
    }
    
    $("#Neto4").val(subneto4);
    //servicio 5
    subneto5 = importe5 - descUni5;
    if(descporcent5 * importe5 !=0){
        descuento5 =(descporcent5 * importe5)/100;
        subneto5 = subneto5 - descuento5;
    }
    
    $("#Neto5").val(subneto5);
    //resultados
    neto = subneto + subneto2 + subneto3 + subneto4 + subneto5;
    if(neto * 16 != 0){
        iva = (neto * 16)/100;
    }
    if(neto * 10 != 0){
        ISR = (neto * 10)/100;
    }
    if((iva / 3) > 0){
        Ivaret = (iva / 3) * 2;
    }
    total = neto + iva ;
    total = total - ISR - Ivaret;
    $("#Neto").val(neto);
    $("#IVA").val(iva);
    $("#ISRRet").val(ISR);
    $("#IVARet").val(Ivaret);
    $("#total").val(total);


}
function confirm(){
    var prv = $("#Proveedor").val();
    var lect = $("#Lectura").val();
    var cant = $("#Cantidad").val();
    var importe = $("#Importe").val();
    var fol = $("#Folio").val();
    var eq = $("#Equipo").val();
    if(fol == null || fol == ""){
        var data="<label>Seleccione un establecimiento.</label>";
            var dat ='<button type="button" class="btn btn-secondary" onclick="cerrar()">Cerrar</button>';
            $("#datos1").append(data);
            $("#footer").append(dat);
            $("#modalConfirm").modal('show');
    }else{
        if(prv == null || prv ==""){
             var data="<label>No ha seleccionado un proveedor. ¿Desea continuar?.</label>";
            var dat ='<input type="submit" value="Aceptar" class="btn btn-success my-2"/> <button type="button" class="btn btn-secondary" onclick="cerrar()">Cancelar</button>';
            $("#datos1").append(data);
            $("#footer").append(dat);
        $('#modalConfirm').modal('show');
        }else{
            if ( eq == null || eq == ""){
                var data="<label>Seleccione un Equipo.</label>";
                var dat ='<button type="button" class="btn btn-secondary" onclick="cerrar()">Cerrar</button>';
                $("#datos1").append(data);
                $("#footer").append(dat);
                $("#modalConfirm").modal('show');
            }else{
                $("#forma").submit();
            }
            
        }
    }
}
function cerrar(){
    $('#modalConfirm').modal('hide');
    $("#datos1").empty();
    $("#footer").empty();
    }
function aceptar() {
     $("#forma").submit();
    }
    </script>

