@model Demo.Models.AlimentacionGSModelView
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-info">
                <div class="card-header">
                    <h3>Nuevo Gasto y servicio de equipo</h3>
                </div>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <form class="form-inline my-2 my-lg-0">
                        <a href="@Url.Action("AlimentacionGastosServicios","Catalogos")" class="btn btn-outline-info" data-toggle="Regresar" title="Regresar">
                            <i class="fas fa-arrow-alt-circle-left"></i>
                            Regresar
                        </a>
                        <a class="btn btn-secondary" onclick="limPiar();" data-toggle="Limpiar" title="Limpiar" style="margin-left: 10px;">
                              <i class="fas fa-trash-alt"></i>
                              Limpiar todo
					    </a>
                            <div class="alert alert-warning alert-dismissible fade show" id="alert" role="alert" style="margin-left: 10px;">
								Error al generar el folio, este establecimiento no esta disponible o el folio ya existe.
							</div>
                    </form>
                </nav>
                @using (Html.BeginForm("NuevoGastoServicios", "Catalogos", FormMethod.Post,new { enctype = "multipart/form-data", id="forma"}))
                {
                    <div class="container-fluid">
                        <div class="row">
                            @*----COLUMNA NUMERO 1*@
                            <div class="col-lg">
                                @Html.Label("fecha", "Fecha", new { @class = "control-label my-2" })
                                <br />
                                @Html.TextBoxFor(model => model.fecha_servicio, new { @class = "my-2", @name = "dtpFecha", @type = "date" })<br>

                                @Html.Label("estab", "Estab", new { @class = "control-label my-2" })
                                @Html.DropDownListFor(model => model.cod_estab, Model.EstabList, new { @class = "form-control",@id="estab_list"})

                                @Html.Label("equipo", "Equipo", new { @class = "control-label" })
                                <div class="input-group" id="inputEquipo">
                                     @Html.TextBoxFor(model => model.equipo, new { @class = "form-control", @onkeydown="onKeyDownEquipo(event)", @id="Equipo", @required="required"})
                                     <span class="input-group-btn">
                                      <a class="btn btn-primary" onclick="equipo()" data-toggle="Buscar" title="Buscar">
                                           <i class="fas fa-search"></i>
					                  </a>
                                    </span>
                                </div>
                               
                                <input class="form-control my-3" id="EquipoN" data-toggle="Equipo" title="Equipo" readonly="readonly" />

                                @Html.Label("modelo", "Modelo", new { @class = "control-label my-2" })
                                <input class="form-control" id="Modelo" data-toggle="Modelo" title="Modelo" readonly="readonly" />

                                @Html.Label("marca", "Marca", new { @class = "control-label my-2" })
                                <input class="form-control" id="Marca" data-toggle="Marca" title="Marca" readonly="readonly" />

                                @Html.Label("año", "Año", new { @class = "control-label my-2" })
                                <input class="form-control" id="Annio" data-toggle="Año" title="Año" readonly="readonly"/>

                                @Html.Label("motor", "Motor", new { @class = "control-label my-2" })
                                <input class="form-control" id="Motor" data-toggle="Motor" title="Motor" readonly="readonly"/>

                                @Html.Label("notas", "Notas", new { @class = "control-label" })
                                @Html.TextAreaFor(model => model.notas, new { @class = "form-control my-2",@rows="5", @id="Notas"})

                                @Html.Label("factura", "Factura", new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.factura_proveedor, new { @class = "form-control my-2",@id="Factura"})
                                @Html.Label("proveedor", "Proveedor", new { @class = "control-label"})
                                <div class="input-group">
                                     @Html.TextBoxFor(model => model.cod_prv, new { @class = "form-control",@id="Proveedor",@onkeydown="onKeyDownPrv(event)"})
                                    <span class="input-group-btn">
                                        <a class="btn btn-primary" onclick="prv()" data-toggle="Buscar" title="Buscar">
                                           <i class="fas fa-search"></i>
					                  </a>
                                    </span>
                                </div>
                               
                                
                                <input class="form-control my-3" id="ProveedorN" data-toggle="Proveedor" title="Proveedor" readonly="readonly" />

                                @Html.Label("neto", "Neto", new { @class = "control-label" })
                                <input type="number" class="form-control" id="Neto" data-toggle="Neto" title="Neto" readonly="readonly" />

                                @Html.Label("iva", "IVA", new { @class = "control-label" })
                                <input type="number" class="form-control" id="IVA" data-toggle="IVA" title="IVA" readonly="readonly" />

                                @Html.Label("ivaret", "IVA Ret", new { @class = "control-label" })
                                <input type="number" class="form-control" id="IVARet" data-toggle="IVA Ret" title="IVA Ret" readonly="readonly"/>

                                @Html.Label("isrret", "ISR Ret", new { @class = "control-label" })
                                <input type="number" class="form-control" id="ISRRet" data-toggle="ISR Ret" title="ISR Ret" readonly="readonly"/>

                                @Html.Label("total", "Total", new { @class = "control-label" })
                                <input type="number" class="form-control" id="total" readonly="readonly"/>


                            </div>
                            @*----COLUMNA NUMERO 2*@
                        <div class="col-lg">
                            @Html.Label("folio", "Folio", new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.folio, new { @class = "form-control my-2",@id="Folio",@readonly="readonly"})

                            @Html.Label("chofer", "Chofer", new { @class = "control-label" })
                            <input class="form-control" id="Chofer" data-toggle="Chofer" title="Chofer" readonly="readonly" />
                            <input class="form-control" id="ChoferN" data-toggle="Chofer" title="Chofer" readonly="readonly"/>

                            @Html.Label("serie", "Serie", new { @class = "control-label" })
                            <input class="form-control" id="Serie" data-toggle="Serie" title="Serie" readonly="readonly"/>

                            @Html.Label("lectura", "Lectura", new { @class = "control-label" })
                             <input class="form-control" id="Lectura1" data-toggle="Lectura" title="Lectura" readonly="readonly"/>
                             
                            @Html.Label("placas", "Placas", new { @class = "control-label" })
                            <input class="form-control" id="Placas" data-toggle="Placas" title="Placas" readonly="readonly"/>
                            <input type="hidden" id="serV" /> @*campo oculto*@
                            <input type="hidden" id="proV" /> @*campo oculto*@
                            <div class="flex-column flex-row" style="background-color:#D1F7F8;">
                                <div class="form-group">
                                    @Html.Label("servicio", "Servicio 1:", new { @class = "control-label"})
                                    <div class="input-group">
                                         @Html.TextBoxFor(model => model.servicio, new { @class = "form-control",@id="servicio",@onkeydown="onKeyDownServicio(event,'1')"})
                                        <span class="input-group-btn">
                                            <a class="btn btn-primary" onclick="servicioS('1');" data-toggle="Buscar" title="Buscar">
                                                   <i class="fas fa-search"></i>
					                          </a>
                                        </span>
                                    </div>
                                    <input class="form-control my-3" id="ServicioN" data-toggle="Servicio" title="Servicio" readonly="readonly"/>
                                    @Html.Label("cantidad", "Cantidad", new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.cantidad, new { @class = "form-control", @type = "number",@id="Cantidad",@required ="required" })
                                    @Html.Label("importe", "Importe", new { @class = "control-label" })
                                    <input type="number" class="form-control" id="Importe" data-toggle="Importe" title="Importe" onchange="calculos(this.value)" onkeyup="calculos(this.value)"/>
                                    @Html.Label("descuento", "%Descuento", new { @class = "control-label"})
                                    <input type="number" class="form-control" id="DescuentoPorc" data-toggle="Descuento %" title="Descuento %" onchange="calculos(this.value)" onkeyup="calculos(this.value)"/>
                                    @Html.Label("descuento", "$Descuento", new { @class = "control-label" })
                                    <input type="number" class="form-control" id="DescuentoUnidad" data-toggle="Descuento $" title="Descuento $" onchange="calculos(this.value)" onkeyup="calculos(this.value)"/>
                                    @Html.Label("lectura", "Lectura", new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.lectura, new { @class = "form-control", @type = "number",@id="Lectura",@required="required" })
                                    @Html.Label("neto", "Neto", new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.total, new { @class = "form-control", @type = "number",@id="Neto1"})
                                    @Html.Label("notas", "Notas", new { @class = "control-label" })
                                    @Html.TextAreaFor(model => model.notas2, new { @class = "form-control my-2",@rows="5",@id="notasServicio1"})
                              </div>
                              <div class="form-group">
                                  @Html.Label("servicio", "Servicio 2:", new { @class = "control-label" })
                                    <div class="input-group">
                                         @Html.TextBoxFor(model => model.servicio2, new { @class = "form-control",@id="servicio2",@onkeydown="onKeyDownServicio(event,'2')"})
                                        <span class="input-group-btn">
                                            <a class="btn btn-primary" onclick="servicioS('2')" data-toggle="Buscar" title="Buscar" id="buscar2">
                                                   <i class="fas fa-search"></i>
					                          </a>
                                        </span>
                                    </div>
                                    <input class="form-control my-3" id="ServicioN2" data-toggle="Servicio" title="Servicio" readonly="readonly"/>
                                    @Html.Label("cantidad", "Cantidad", new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.cantidad2, new { @class = "form-control", @type = "number",@id="Cantidad2"})
                                    @Html.Label("importe", "Importe", new { @class = "control-label" })
                                    <input type="number" class="form-control" id="Importe2" data-toggle="Importe" title="Importe" onchange="calculos(this.value)" onkeyup="calculos(this.value)"/>
                                    @Html.Label("descuento", "%Descuento", new { @class = "control-label"})
                                    <input type="number" class="form-control" id="DescuentoPorc2" data-toggle="Descuento %" title="Descuento %" onchange="calculos(this.value)" onkeyup="calculos(this.value)"/>
                                    @Html.Label("descuento", "$Descuento", new { @class = "control-label" })
                                    <input type="number" class="form-control" id="DescuentoUnidad2" data-toggle="Descuento $" title="Descuento $" onchange="calculos(this.value)" onkeyup="calculos(this.value)"/>
                                    @Html.Label("lectura", "Lectura", new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.lectura2, new { @class = "form-control", @type = "number",@id="Lectura2"})
                                    @Html.Label("neto", "Neto", new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.total2, new { @class = "form-control", @type = "number",@id="Neto2"})
                                    @Html.Label("notas", "Notas", new { @class = "control-label" })
                                    @Html.TextAreaFor(model => model.notasserv2, new { @class = "form-control my-2",@rows="5", @id="notasserv2"})
                                </div>
                            </div>
                            <div class="flex-column flex-row" style="background-color:#D1F7F8;">
                                <div class="form-group">
                                    @Html.Label("servicio", "Servicio 3:", new { @class = "control-label" })
                                    <div class="input-group">
                                         @Html.TextBoxFor(model => model.servicio3, new { @class = "form-control", @id="servicio3",@onkeydown="onKeyDownServicio(event,'3')"})
                                        <span class="input-group-btn">
                                            <a class="btn btn-primary" onclick="servicioS('3')" data-toggle="Buscar" title="Buscar" id="buscar3">
                                                   <i class="fas fa-search"></i>
					                          </a>
                                        </span>
                                    </div>
                                    <input class="form-control my-3" id="ServicioN3" data-toggle="Servicio" title="Servicio" readonly="readonly"/>
                                    @Html.Label("cantidad", "Cantidad", new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.cantidad3, new { @class = "form-control", @type = "number",@id="Cantidad3"})
                                    @Html.Label("importe", "Importe", new { @class = "control-label" })
                                    <input type="number" class="form-control" id="Importe3" data-toggle="Importe" title="Importe" onchange="calculos(this.value)" onkeyup="calculos(this.value)"/>
                                    @Html.Label("descuento", "%Descuento", new { @class = "control-label"})
                                    <input type="number" class="form-control" id="DescuentoPorc3" data-toggle="Descuento %" title="Descuento %" onchange="calculos(this.value)" onkeyup="calculos(this.value)"/>
                                    @Html.Label("descuento", "$Descuento", new { @class = "control-label" })
                                    <input type="number" class="form-control" id="DescuentoUnidad3" data-toggle="Descuento $" title="Descuento $" onchange="calculos(this.value)" onkeyup="calculos(this.value)"/>
                                    @Html.Label("lectura", "Lectura", new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.lectura3, new { @class = "form-control", @type = "number",@id="Lectura3"})
                                    @Html.Label("neto", "Neto", new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.total3, new { @class = "form-control", @type = "number",@id="Neto3"})
                                    @Html.Label("notas", "Notas", new { @class = "control-label" })
                                    @Html.TextAreaFor(model => model.notasserv3, new { @class = "form-control my-2",@rows="5",@id="notasserv3"})
                                </div>
                                <div class="form-group">
                                    @Html.Label("servicio", "Servicio 4:", new { @class = "control-label" })
                                    <div class="input-group">
                                         @Html.TextBoxFor(model => model.servicio4, new { @class = "form-control", @id="servicio4",@onkeydown="onKeyDownServicio(event,'4')"})
                                        <span class="input-group-btn">
                                            <a class="btn btn-primary" onclick="servicioS('4')" data-toggle="Buscar" title="Buscar" id="buscar4">
                                                   <i class="fas fa-search"></i>
					                          </a>
                                        </span>
                                    </div>
                                    <input class="form-control my-3" id="ServicioN4" data-toggle="Servicio" title="Servicio" readonly="readonly"/>
                                    @Html.Label("cantidad", "Cantidad", new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.cantidad4, new { @class = "form-control", @type = "number",@id="Cantidad4"})
                                    @Html.Label("importe", "Importe", new { @class = "control-label" })
                                    <input type="number" class="form-control" id="Importe4" data-toggle="Importe" title="Importe" onchange="calculos(this.value)" onkeyup="calculos(this.value)"/>
                                    @Html.Label("descuento", "%Descuento", new { @class = "control-label"})
                                    <input type="number" class="form-control" id="DescuentoPorc4" data-toggle="Descuento %" title="Descuento %" onchange="calculos(this.value)" onkeyup="calculos(this.value)"/>
                                    @Html.Label("descuento", "$Descuento", new { @class = "control-label" })
                                    <input type="number" class="form-control" id="DescuentoUnidad4" data-toggle="Descuento $" title="Descuento $" onchange="calculos(this.value)" onkeyup="calculos(this.value)"/>
                                    @Html.Label("lectura", "Lectura", new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.lectura4, new { @class = "form-control", @type = "number",@id="Lectura4"})
                                    @Html.Label("neto", "Neto", new { @class = "control-label" })
                                   @Html.TextBoxFor(model => model.total4, new { @class = "form-control", @type = "number",@id="Neto4"})
                                    @Html.Label("notas", "Notas", new { @class = "control-label" })
                                    @Html.TextAreaFor(model => model.notasserv4, new { @class = "form-control my-2",@rows="5",@id="notasserv4"})
                                </div>
                            </div>
                            <div class="flex-column flex-row" style="background-color:#D1F7F8;">
                                <div class="form-group">
                                    @Html.Label("servicio", "Servicio 5:", new { @class = "control-label" })
                                    <div class="input-group">
                                         @Html.TextBoxFor(model => model.servicio5, new { @class = "form-control", @id="servicio5",@onkeydown="onKeyDownServicio(event,'5')"})
                                        <span class="input-group-btn">
                                            <a class="btn btn-primary" onclick="servicioS('5')" data-toggle="Buscar" title="Buscar" id="buscar5">
                                                   <i class="fas fa-search"></i>
					                          </a>
                                        </span>
                                    </div>
                                    <input class="form-control my-3" id="ServicioN5" data-toggle="Servicio" title="Servicio" readonly="readonly"/>
                                    @Html.Label("cantidad", "Cantidad", new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.cantidad5, new { @class = "form-control", @type = "number",@id="Cantidad5"})
                                    @Html.Label("importe", "Importe", new { @class = "control-label" })
                                    <input type="number" class="form-control" id="Importe5" data-toggle="Importe" title="Importe" onchange="calculos(this.value)" onkeyup="calculos(this.value)"/>
                                    @Html.Label("descuento", "%Descuento", new { @class = "control-label"})
                                    <input type="number" class="form-control" id="DescuentoPorc5" data-toggle="Descuento %" title="Descuento %" onchange="calculos(this.value)" onkeyup="calculos(this.value)"/>
                                    @Html.Label("descuento", "$Descuento", new { @class = "control-label" })
                                    <input type="number" class="form-control" id="DescuentoUnidad5" data-toggle="Descuento $" title="Descuento $" onchange="calculos(this.value)" onkeyup="calculos(this.value)"/>
                                    @Html.Label("lectura", "Lectura", new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.lectura5, new { @class = "form-control", @type = "number",@id="Lectura5"})
                                    @Html.Label("neto", "Neto", new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.total5, new { @class = "form-control", @type = "number",@id="Neto5"})
                                    @Html.Label("notas", "Notas", new { @class = "control-label" })
                                    @Html.TextAreaFor(model => model.notasserv5, new { @class = "form-control my-2",@rows="5",@id="notasserv5"})
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="button" value="Guardar" class="btn btn-success my-2" onclick="confirm()" />
                    </div>
                <div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">¿Desea continuar?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body" id="datos1">
                        
                      </div>
                      <div class="modal-footer" id="footer">
                          
                          
                      </div>
                    </div>
                  </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>
    <div class="modal fade bd-example-modal-xl" id="modalDetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="datos">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
<script>
$(document).ready( function () {
    $("#alert").hide();
    disabled();
    $("").DataTable();
    $.ajax({
            type:"post",
            url:"@Url.Action("FolioGastoServicio","Catalogos")" + "?id=" + "1",
            contentType:"html",
            success:function(respond){
                debugger
                $("#Folio").val(respond);
                var a = $("#Folio").val();
            }
        })
    $("#estab_list").change(function(){
        var estab = $(this).val();
        debugger
        $.ajax({
            type:"post",
            url:"@Url.Action("FolioGastoServicio","Catalogos")" + "?id=" + estab,
            contentType:"html",
            success:function(respond){
                debugger
                $("#Folio").val(respond);
                var a = $("#Folio").val();
                if(a == null || a ==""){
                    $("#alert").show(500);
                }else{
                    $("#alert").hide();
                }
            }
        })
    })
});
        function cod_prv(p, nom) {
            $("#Proveedor").val(p);
            $("#ProveedorN").val(nom);
            $("#modalDetalle").modal('hide');
            $('#Proveedor').prop('readonly', true);
        }
function equipo(){
        $("#datos").empty();
        $.ajax({
            type:"GET",
            url:"@Url.Action("EquipoGastoServicio","Catalogos")",
            success:function(data){
                $("#datos").append(data);
                $('#modalDetalle').modal('show');
            },
            error: function (xhr,ajaxOptions,thrownError){alert(xhr.responseText);}
        });
}
function prv(){
        $("#datos").empty();
        $.ajax({
            type:"GET",
            url:"@Url.Action("Proveedor","Catalogos")",
            success:function(data){
                $("#datos").append(data);
                $('#modalDetalle').modal('show');
                
            },
            error: function (xhr,ajaxOptions,thrownError){alert(xhr.responseText);}
        });
}

function onKeyDownEquipo(event) {

    var codigo = event.which || event.keyCode;

    if(codigo === 113){
      equipo();
    }
}
function onKeyDownPrv(event) {

    var codigo = event.which || event.keyCode;

    if(codigo === 113){
      prv();
    }
}
function onKeyDownServicio(event,serv) {
    var s = serv;
    var codigo = event.which || event.keyCode;

    if(codigo === 113){
      servicio(s);
    }
}
function servicioS(serv){
    $("#serV").val(serv);
        $("#datos").empty();
        $.ajax({
            type:"GET",
            url:"@Url.Action("Serv","Catalogos")",
            success:function(data){
                $("#datos").append(data);
                $('#modalDetalle').modal('show');       
            },
            error: function (xhr,ajaxOptions,thrownError){alert(xhr.responseText);}
        });
}
function equipoGS(equipo,nombre,chofer,nombreCh,modelo,marca,serie,lectura,año,motor,placas){
    $('#Equipo').val(equipo);
    $('#Equipo').prop('readonly', true);
    $('#EquipoN').val(nombre);
    $('#Chofer').val(chofer);
    $('#ChoferN').val(nombreCh);
    $('#Modelo').val(modelo);
    $('#Marca').val(marca);
    $('#Serie').val(serie);
    $('#Lectura').val(lectura);
    $('#Annio').val(año);
    $('#Motor').val(motor);
    $('#Placas').val(placas);
    $('#modalDetalle').modal('hide');
}
function serv1(servicio,nombre){
    var s = $("#serV").val(); //numero de servicio
    switch(s){
        case '1': 
            $('#servicio').val(servicio);
            $('#ServicioN').val(nombre);
            $('#modalDetalle').modal('hide');
            $('#servicio').prop('readonly', true);
            readon();
            break;
        case '2': 
            $('#servicio2').val(servicio);
            $('#ServicioN2').val(nombre);
            $('#modalDetalle').modal('hide');
            $('#servicio2').prop('readonly', true);
            readon();
            break;
        case '3': 
            $('#servicio3').val(servicio);
            $('#ServicioN3').val(nombre);
            $('#modalDetalle').modal('hide');
            $('#servicio3').prop('readonly', true);
            readon();
            break;
        case '4': 
            $('#servicio4').val(servicio);
            $('#ServicioN4').val(nombre);
            $('#modalDetalle').modal('hide');
            $('#servicio4').prop('readonly', true);
            readon();
            break;
        case '5': 
            $('#servicio5').val(servicio);
            $('#ServicioN5').val(nombre);
            $('#modalDetalle').modal('hide');
            $('#servicio5').prop('readonly', true);
            break;
    }

    
    
}
function calculos(){
    var servicio = $("#serV").val();

    var importe = $("#Importe").val();
        importe *=1;
    var importe2 = $("#Importe2").val();
        importe2 *=1;
    var importe3 = $("#Importe3").val();
        importe3 *=1;
    var importe4 = $("#Importe4").val();
        importe4 *=1;
    var importe5 = $("#Importe5").val();
        importe5 *=1;
    var descporcent = $("#DescuentoPorc").val();
        descporcent *=1;
    var descporcent2 = $("#DescuentoPorc2").val();
        descporcent2 *=1;
    var descporcent3 = $("#DescuentoPorc3").val();
        descporcent3 *=1;
    var descporcent4 = $("#DescuentoPorc4").val();
        descporcent4 *=1;
    var descporcent5 = $("#DescuentoPorc5").val();
        descporcent5 *=1;
    var descUni = $("#DescuentoUnidad").val();
        descUni *=1;
    var descUni2 = $("#DescuentoUnidad2").val();
        descUni2 *=1;
    var descUni3 = $("#DescuentoUnidad3").val();
        descUni3 *=1;
    var descUni4 = $("#DescuentoUnidad4").val();
        descUni4 *=1;
    var descUni5 = $("#DescuentoUnidad5").val();
        descUni5 *=1;
    var subneto = 0.0;
    var subneto2 = 0.0;
    var subneto3 = 0.0;
    var subneto4 = 0.0;
    var subneto5 = 0.0;
    var descuento = 0.0;
    var descuento2 = 0.0;
    var descuento3 = 0.0;
    var descuento4 = 0.0;
    var descuento5 = 0.0;
    var ISR = 0.0;
    var neto = 0.0;
    var iva = 0.0;
    var Ivaret = 0.0;
    var total = 0.0;
    
    //servicio1
    if(descUni > importe){
        var data="<label>El descuento $ es mayor al importe ingresado.</label>";
            var dat ='<button type="button" class="btn btn-secondary" onclick="cerrar()">Cerrar</button>';
            $("#datos1").append(data);
            $("#footer").append(dat);
            $("#Importe").val('0');
            $("#modalConfirm").modal('show');
    }else{
        subneto = importe - descUni;
    }
    
    if(descporcent * importe != 0){
        descuento = (descporcent * importe)/100;

        if(descuento > importe){
        var data="<label>El descuento % es mayor al importe ingresado.</label>";
            var dat ='<button type="button" class="btn btn-secondary" onclick="cerrar()">Cerrar</button>';
            $("#datos1").append(data);
            $("#footer").append(dat);
            $("#DescuentoPorc").val('0');
            $("#modalConfirm").modal('show');
        }else{
            subneto = subneto - descuento;
        }
        
    }
    
    $("#Neto1").val(subneto);
    //servicio 2
    if(descUni2 > importe2){
        var data="<label>El descuento $ es mayor al importe ingresado en servicio 2.</label>";
            var dat ='<button type="button" class="btn btn-secondary" onclick="cerrar()">Cerrar</button>';
            $("#datos1").append(data);
            $("#footer").append(dat);
            $("#Importe2").val('0');
            $("#modalConfirm").modal('show');
    }else{
        subneto2 = importe2 - descUni2;
    }
    if(descporcent2 * importe2 !=0){
        descuento2 =(descporcent2 * importe2)/100;
        if(descuento2 > importe2){
        var data="<label>El descuento % es mayor al importe ingresado en servicio 2.</label>";
            var dat ='<button type="button" class="btn btn-secondary" onclick="cerrar()">Cerrar</button>';
            $("#datos1").append(data);
            $("#footer").append(dat);
            $("#DescuentoPorc2").val('0');
            $("#modalConfirm").modal('show');
        }else{
            subneto2 = subneto2 - descuento2;
        }
    }
    $("#Neto2").val(subneto2);
    //servicio 3
    if(descUni3 > importe3){
        var data="<label>El descuento $ es mayor al importe ingresado en servicio 3.</label>";
            var dat ='<button type="button" class="btn btn-secondary" onclick="cerrar()">Cerrar</button>';
            $("#datos1").append(data);
            $("#footer").append(dat);
            $("#Importe3").val('0');
            $("#modalConfirm").modal('show');
    }else{
        subneto3 = importe3 - descUni3;
    }
    if(descporcent3 * importe3 !=0){
        descuento3 =(descporcent3 * importe3)/100;
       if(descuento3 > importe3){
        var data="<label>El descuento % es mayor al importe ingresado en servicio 3.</label>";
            var dat ='<button type="button" class="btn btn-secondary" onclick="cerrar()">Cerrar</button>';
            $("#datos1").append(data);
            $("#footer").append(dat);
             $("#DescuentoPorc3").val('0');
            $("#modalConfirm").modal('show');
        }else{
            subneto3 = subneto3 - descuento3;
        }
    }
    
    $("#Neto3").val(subneto3);
    //servicio 4
    if(descUni4 > importe4){
        var data="<label>El descuento $ es mayor al importe ingresado en servicio 4.</label>";
            var dat ='<button type="button" class="btn btn-secondary" onclick="cerrar()">Cerrar</button>';
            $("#datos1").append(data);
            $("#footer").append(dat);
            $("#Importe4").val('0');
            $("#modalConfirm").modal('show');
    }else{
        subneto4 = importe4 - descUni4;
    }
    if(descporcent4 * importe4 !=0){
        descuento4 =(descporcent4 * importe4)/100;
        if(descuento4 > importe4){
        var data="<label>El descuento % es mayor al importe ingresado en servicio 4.</label>";
            var dat ='<button type="button" class="btn btn-secondary" onclick="cerrar()">Cerrar</button>';
            $("#datos1").append(data);
            $("#footer").append(dat);
             $("#DescuentoPorc4").val('0');
            $("#modalConfirm").modal('show');
        }else{
            subneto4 = subneto4 - descuento4;
        }
    }
    
    $("#Neto4").val(subneto4);
    //servicio 5
    if(descUni5 > importe5){
        var data="<label>El descuento $ es mayor al importe ingresado en servicio 5.</label>";
            var dat ='<button type="button" class="btn btn-secondary" onclick="cerrar()">Cerrar</button>';
            $("#datos1").append(data);
            $("#footer").append(dat);
            $("#Importe5").val('0');
            $("#modalConfirm").modal('show');
    }else{
        subneto5 = importe5 - descUni5;
    }
    if(descporcent5 * importe5 !=0){
        descuento5 =(descporcent5 * importe5)/100;
        if(descuento5 > importe5){
        var data="<label>El descuento % es mayor al importe ingresado en servicio 5.</label>";
            var dat ='<button type="button" class="btn btn-secondary" onclick="cerrar()">Cerrar</button>';
            $("#datos1").append(data);
            $("#footer").append(dat);
             $("#DescuentoPorc5").val('0');
            $("#modalConfirm").modal('show');
        }else{
            subneto5 = subneto5 - descuento5;
        }
    }
    
    $("#Neto5").val(subneto5);
    //resultados
    neto = subneto + subneto2 + subneto3 + subneto4 + subneto5;
    if(neto * 16 != 0){
        iva = (neto * 16)/100;
    }
    if(neto * 10 != 0){
        ISR = (neto * 10)/100;
    }
    if((iva / 3) > 0){
        Ivaret = (iva / 3) * 2;
    }

    total = neto + iva ;
    total = total - ISR - Ivaret;
    $("#Neto").val(neto);
    $("#IVA").val(iva);
    $("#ISRRet").val(ISR);
    $("#IVARet").val(Ivaret);
    $("#total").val(total);


}
function confirm(){
    var prv = $("#Proveedor").val();
    var lect = $("#Lectura").val();
    var cant = $("#Cantidad").val();
    var importe = $("#Importe").val();
    var fol = $("#Folio").val();
    var eq = $("#Equipo").val();

    //validacion de servicio
    var servicio2 = $("#servicio2").val();
    var servicio3 = $("#servicio3").val();
    var servicio4 = $("#servicio4").val();
    var servicio5 = $("#servicio5").val();
    var lectura = $("#Lectura").val();
    var lectura2 = $("#Lectura2").val();
    var lectura3 = $("#Lectura3").val();
    var lectura4 = $("#Lectura4").val();
    var lectura5 = $("#Lectura5").val();
    var cantidad = $("#Cantidad").val();
    var cantidad2 = $("#Cantidad2").val();
    var cantidad3 = $("#Cantidad2").val();
    var cantidad4 = $("#Cantidad2").val();
    var cantidad5 = $("#Cantidad2").val();
    var importe = $("#Importe").val();
    var importe2 = $("#Importe2").val();
    var importe3 = $("#Importe3").val();
    var importe4 = $("#Importe4").val();
    var importe5 = $("#Importe5").val();

    var prov = $("#proV").val();

    //limpiar modal
    $("#datos1").empty();
    $("#footer").empty();
    if(fol == null || fol == ""){
        var data="<label>Seleccione un establecimiento.</label>";
            var dat ='<button type="button" class="btn btn-secondary" onclick="cerrar()">Cerrar</button>';
            $("#datos1").append(data);
            $("#footer").append(dat);
            $("#modalConfirm").modal('show');
    }else{
        if((prv == null || prv =="") && (prov == null || prov == "")){
                var data="<label>No ha seleccionado un proveedor. ¿Desea continuar?.</label>";
                var dat ='<button class="btn btn-success my-2" onclick="aceptar()">Aceptar</button> <button type="button" class="btn btn-secondary" onclick="cerrar()">Cancelar</button>';
                $("#datos1").append(data);
                $("#footer").append(dat);
                $('#modalConfirm').modal('show');
            
             
        }else{
            if ( eq == null || eq == ""){
                var data="<label>Seleccione un Equipo.</label>";
                var dat ='<button type="button" class="btn btn-secondary" onclick="cerrar()">Cerrar</button>';
                $("#datos1").append(data);
                $("#footer").append(dat);
                $("#modalConfirm").modal('show');
            }else{
                if(servicio != null && servicio != ""){
                    if(lectura != '0' && lectura != ''){
                        if(cantidad != '0' && cantidad != ''){
                            if(importe != '0' && importe != ''){
                                if(servicio2 != null && servicio2 != ""){
                                    if(lectura2 != '0' && lectura2 != ''){
                                        if(cantidad2 != '0' && cantidad2 != ''){
                                            if(importe2 != '0' && importe2 != ''){
                                                if(servicio3 == null || servicio3 == ""){
                                                    $("#forma").submit();
                                                }else{
                                                    if(lectura3 != '0' && lectura3 != ''){
                                                        if(cantidad3 != '0' && cantidad3 != ''){
                                                            if(importe3 != '0' && importe3 != ''){
                                                                if(servicio4 == null || servicio4 == ""){
                                                                    $("#forma").submit();
                                                                }else{
                                                                    if(lectura4 != '0' && lectura4 != ''){
                                                                        if(cantidad4 != '0' && cantidad4 != ''){
                                                                            if(importe4 != '0' && importe != ''){
                                                                                if(servicio5== null || servicio5 == ""){
                                                                                    $("#forma").submit();
                                                                                }else{
                                                                                    if(cantidad5 != '0' && cantidad5 != ''){
                                                                                        if(lectura5 != '0' && lectura5 != ''){
                                                                                            if(importe5 != '0' && importe5 != ''){
                                                                                                $("#forma").submit();
                                                                                            }else{
                                                                                                 modalSubmit('servicio5 (Importe)');
                                                                                            }
                                                                                        }else{
                                                                                            modalSubmit('servicio5 (Lectura)');
                                                                                        }
                                                                                    }else{
                                                                                        modalSubmit('servicio5 (Cantidad)');
                                                                                    }
                                                                                }
                                                                            }else{
                                                                                modalSubmit('servicio4 (Importe)');
                                                                            }
                                                                        }else{
                                                                            modalSubmit('servicio4 (Cantidad)');
                                                                        }
                                                                    }else{
                                                                        modalSubmit('servicio4 (Lectura)');
                                                                    }
                                                                }
                                                            }else{
                                                                modalSubmit('servicio3 (Importe)');
                                                            }
                                                        }else{
                                                            modalSubmit('servicio3 (Cantidad)');
                                                        }
                                                    }else{
                                                        modalSubmit('servicio3 (Lectura)');
                                                    }
                                                }
                                            }else{
                                                modalSubmit('servicio2 (Importe)');
                                            }
                                        }else{
                                            modalSubmit('servicio2 (Cantidad)');
                                        }
                                    }else{
                                        modalSubmit('servicio2 (Lectura)');
                                    }
                                }else{
                                    $("#forma").submit();
                                }
                            }else{
                                modalSubmit('servicio 1 (Importe)');
                            }
                        }else{
                            modalSubmit('servicio 1 (Cantidad)');
                        }
                    }else{
                        modalSubmit('servicio 1 (Importe)');
                    }
                }else{
                    var data="<label>Algunos campos obligatorios estan vacios Indique un servicio.</label>";
                    var dat ='<button type="button" class="btn btn-secondary" onclick="cerrar()">Cerrar</button>';
                    $("#datos1").append(data);
                    $("#footer").append(dat);
                    $("#modalConfirm").modal('show');
                }
                
            }
            
        }
    }
}
function modalSubmit(label){
    var data="<label>Algunos campos obligatorios estan vacios en el " + label + " .</label>";
    var dat ='<button type="button" class="btn btn-secondary" onclick="cerrar()">Cerrar</button>';
    $("#datos1").append(data);
    $("#footer").append(dat);
    $("#modalConfirm").modal('show');
}
function cerrar(){
    $('#modalConfirm').modal('hide');
    $("#datos1").empty();
    $("#footer").empty();
    }
function aceptar() {
     $("#proV").val('2');
     confirm();
}
function readon(){
    var servicio = $("#servicio").val();
    var servicio2 = $("#servicio2").val();
    var servicio3 = $("#servicio3").val();
    var servicio4 = $("#servicio4").val();
    var servicio5 = $("#servicio5").val();
    if(servicio != null && servicio != ""){
        enabledS2();
    }
    if(servicio2 != null && servicio2 != ""){
        enabledS3();
    }
    
    if(servicio3 != null && servicio3 != ""){
        enabledS4();
    }
    if(servicio4 != null && servicio4 != ""){
        enabledS5();
    }
}
function disabled(){
    $('#servicio2').prop('readonly', true);

    $('#buscar2').css('pointer-events', 'none');
        $('#Cantidad2').prop('readonly', true);
        $('#Importe2').prop('readonly', true);
        $('#DescuentoPorc2').prop('readonly', true);
        $('#DescuentoUnidad2').prop('readonly', true);
        $('#Lectura2').prop('readonly', true);
        $('#Neto2').prop('readonly', true);
        $('#notasserv2').prop('readonly', true);
        $('#servicio3').prop('readonly', true);
    $('#buscar3').css('pointer-events', 'none');
        $('#Cantidad3').prop('readonly', true);
        $('#Importe3').prop('readonly', true);
        $('#DescuentoPorc3').prop('readonly', true);
        $('#DescuentoUnidad3').prop('readonly', true);
        $('#Lectura3').prop('readonly', true);
        $('#Neto3').prop('readonly', true);
        $('#notasserv3').prop('readonly', true);
        $('#servicio4').prop('readonly', true);
    $('#buscar4').css('pointer-events', 'none');
        $('#Cantidad4').prop('readonly', true);
        $('#Importe4').prop('readonly', true);
        $('#DescuentoPorc4').prop('readonly', true);
        $('#DescuentoUnidad4').prop('readonly', true);
        $('#Lectura4').prop('readonly', true);
        $('#Neto4').prop('readonly', true);
        $('#notasserv4').prop('readonly', true);
        $('#servicio5').prop('readonly', true);
    $('#buscar5').css('pointer-events', 'none');
        $('#Cantidad5').prop('readonly', true);
        $('#Importe5').prop('readonly', true);
        $('#DescuentoPorc5').prop('readonly', true);
        $('#DescuentoUnidad5').prop('readonly', true);
        $('#Lectura5').prop('readonly', true);
        $('#Neto5').prop('readonly', true);
        $('#notasserv5').prop('readonly', true);
}
function enabledS2(){
    //servicio2 
        $('#servicio2').prop('readonly', false);
    $('#buscar2').css('pointer-events', '');
        $('#Cantidad2').prop('readonly', false);
        $('#Importe2').prop('readonly', false);
        $('#DescuentoPorc2').prop('readonly', false);
        $('#DescuentoUnidad2').prop('readonly', false);
        $('#Lectura2').prop('readonly', false);
        $('#Neto2').prop('readonly', false);
        $('#notasserv2').prop('readonly', false);
}
function enabledS3(){
    //servicio3
        $('#servicio3').prop('readonly', false);
    $('#buscar3').css('pointer-events', '');
        $('#Cantidad3').prop('readonly', false);
        $('#Importe3').prop('readonly', false);
        $('#DescuentoPorc3').prop('readonly', false);
        $('#DescuentoUnidad3').prop('readonly', false);
        $('#Lectura3').prop('readonly', false);
        $('#Neto3').prop('readonly', false);
        $('#notasserv3').prop('readonly', false);
}
function enabledS4(){
    //servicio4
        $('#servicio4').prop('readonly', false);
    $('#buscar4').css('pointer-events', '');
        $('#Cantidad4').prop('readonly', false);
        $('#Importe4').prop('readonly', false);
        $('#DescuentoPorc4').prop('readonly', false);
        $('#DescuentoUnidad4').prop('readonly', false);
        $('#Lectura4').prop('readonly', false);
        $('#Neto4').prop('readonly', false);
        $('#notasserv4').prop('readonly', false);
}
function enabledS5(){
    //servicio5
        $('#servicio5').prop('readonly', false);
    $('#buscar5').css('pointer-events', '');
        $('#Cantidad5').prop('readonly', false);
        $('#Importe5').prop('readonly', false);
        $('#DescuentoPorc5').prop('readonly', false);
        $('#DescuentoUnidad5').prop('readonly', false);
        $('#Lectura5').prop('readonly', false);
        $('#Neto5').prop('readonly', false);
        $('#notasserv5').prop('readonly', false);
}
function limPiar(){
   /* var stab = $("#estab_list").val();
    $.ajax({
           type:"post",
          url:"@Url.Action("FolioGastoServicio","Catalogos")" + "?id=" + stab,
            contentType:"html",
            success:function(respond){
                debugger
                $("#Folio").val(respond);
                var a = $("#Folio").val();
            }
        });
   $("#forma").reset(); */
   $('#servicio2').val('');
        $('#Cantidad2').val('');
        $('#Importe2').val('');
        $('#DescuentoPorc2').val('');
        $('#DescuentoUnidad2').val('');
        $('#Lectura2').val('');
        $('#Neto2').val('');
        $('#notasserv2').val('');
        $('#servicio3').val('');
        $('#Cantidad3').val('');
        $('#Importe3').val('');
        $('#DescuentoPorc3').val('');
        $('#DescuentoUnidad3').val('');
        $('#Lectura3').val('');
        $('#Neto3').val('');
        $('#notasserv3').val('');
        $('#servicio4').val('');
        $('#Cantidad4').val('');
        $('#Importe4').val('');
        $('#DescuentoPorc4').val('');
        $('#DescuentoUnidad4').val('');
        $('#Lectura4').val('');
        $('#Neto4').val('');
        $('#notasserv4').val('');
        $('#servicio5').val('');
        $('#Cantidad5').val('');
        $('#Importe5').val('');
        $('#DescuentoPorc5').val('');
        $('#DescuentoUnidad5').val('');
        $('#Lectura5').val('');
        $('#Neto5').val('');
        $('#notasserv5').val('');

        $('#Equipo').val('');
        $('#Modelo').val('');
        $('#Marca').val('');
        $('#Annio').val('');
        $('#Motor').val('');
        $('#Notas').val('');
        $('#Factura').val('');
        $('#Proveedor').val('');
        $('#Neto').val('');
        $('#IVA').val('');
        $('#IVARet').val('');
        $('#ISRRet').val('');
        $('#total').val('');

        $('#Chofer').val('');
        $('#ChoferN').val('');
        $('#Serie').val('');
        $('#Lectura1').val('');
        $('#Placas').val('');
        $('#ServicioN').val('');
        $('#ServicioN2').val('');
        $('#ServicioN3').val('');
        $('#ServicioN4').val('');
        $('#ServicioN5').val('');
        $('#servicio').val('');
        $('#Cantidad').val('');
        $('#Importe').val('');
        $('#DescuentoPorc').val('');
        $('#DescuentoUnidad').val('');
        $('#Lectura').val('');
        $('#Neto1').val('');
        $('#notasServicio1').val('');
        $('#EquipoN').val('');
        $('#ProveedorN').val('');
        $('#notasserv2').val('');
        $('#notasserv3').val('');
        $('#notasserv4').val('');
        $('#notasserv5').val('');
       
        
   disabled();
}
</script>

