@model Demo.Models.ServiciosModelView
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-info">
                <div class="card-header">
                    <h3>Nuevo Servicio</h3>
                </div>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <form class="form-inline my-2 my-lg-0">
                      <a href="@Url.Action("Servicios","Catalogos")" class="btn btn-outline-info" data-toggle="Regresar" title="Regresar">
						   <i class="fas fa-arrow-alt-circle-left"></i>
						   Regresar
					  </a>
                      <a class="btn btn-outline-primary" data-toggle="Dependencia de Servicio" title="Dependencia de Servicio" href="@Url.Action("ServiciosDep","Catalogos")">
						   <i class="far fa-address-card"></i>
						   Dependencia de Servicio
					  </a>
                    </form>
                </nav>
                @using (Html.BeginForm("NuevoServicio","Catalogos",FormMethod.Post)){
                    <div class="form-inline">
                        <div class="form-group">
                            <div class="form-group m-2">
                                @Html.Label("servicio","Servicio",new {@class="control-label"})
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.TextBoxFor(model=> model.servicio,new {@class="form-control",@readonly="readonly"})
                                &nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                            <div class="form-group m-2">
                                @Html.TextBoxFor(model=> model.nombre,new {@class="form-control",@required="true"})
                                &nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                            <div class="form-group m-2">
                                @Html.Label("status","Status",new {@class="control-label"})
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.DropDownList("status",Model.StatusList,new {@class="form-control"})
                            </div>
                        </div>
                    </div>
                        <div class="form-inline">
                            <div class="form-group">
                                <div class="form-group m-2">
                                    @Html.Label("tipo_servicio","Tipo",new {@class="control-label"})
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    @Html.DropDownList("tipo_servicio",Model.TipoServList,new {@class="form-control"})
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div class="form-group m-2">
                                    @Html.Label("concepto_gastos","Concepto de gastos",new {@class="control-label"})
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    @Html.DropDownList("concepto_gastos",Model.ConceptoGList,new {@class="form-control"})
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div class="form-group m-2">
                                    @Html.Label("orden_mostrar","Orden mostrar",new {@class="control-label"})
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    @Html.TextBoxFor(model=> model.orden_mostrar,new {@class="form-control",@type="number"})
                                </div>
                            </div>
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <div class="form-group m-2">
                                @Html.Label("concepto_servicio","Conc. Serv.",new {@class="control-label"})
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.DropDownList("concepto_servicio",Model.ConceptoServList,new {@class="form-control"})
                                &nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                            <div class="form-group m-2">
                                @Html.Label("sistema_equipos","Sistemas",new {@class="control-label"})
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.DropDownList("sistema_equipos",Model.SistemasList,new {@class="form-control"})
                                &nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                            <div class="form-group m-2">
                                @Html.Label("dias","Días",new {@class="control-label"})
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.TextBoxFor(model=> model.dias,new {@class="form-control",@type="number"})
                            </div>
                        </div>
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <div class="form-group m-2">
                            @Html.Label("horas_mecanico","Hrs. Mecánico",new {@class="control-label"})
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.TextBoxFor(model=> model.horas_mecanico,new {@class="form-control",@type="number"})
                            &nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                        <div class="form-group m-2">
                            @Html.Label("minutos_mecanico","Min. Mecánico",new {@class="control-label"})
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.TextBoxFor(model=> model.minutos_mecanico,new {@class="form-control",@type="number"})
                            &nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                        <div class="form-group m-2">
                            @Html.Label("precio","Precio",new {@class="control-label"})
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.TextBoxFor(model=> model.precio,new {@class="form-control",@type="number"})
                        </div>
                    </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success"/>
            </div>
        }
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-xl" id="modalDetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="datos">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready( function () {
    $('#tabla').DataTable();
} );
</script>