@model Demo.Models.EquiposModelView
<div class="container-fluid">
    <div class="row">
            <div class="card-info">
				<div class="card-header">
				   <h3>Nuevo Equipo</h3>
			   </div>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <form class="form-inline my-2 my-lg-0">
                      <a href="@Url.Action("Equipos","Catalogos")" class="btn btn-outline-info" data-toggle="Regresar" title="Regresar">
						   <i class="fas fa-arrow-alt-circle-left"></i>
						   Regresar
					  </a>
                      &nbsp;&nbsp;&nbsp;&nbsp;
					  @if (TempData["mensajeNULL"] != null)
						{
							<div class="alert alert-primary alert-dismissible fade show" role="alert">
								@TempData["mensajeINF"]
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						}
                    </form>
                </nav>
                @using (Html.BeginForm("NuevoEquipo", "Catalogos", FormMethod.Post))
                    {
                <div class="container-fluid">
                    
                        <div class="row">
                            @*  ////////////////////REFACTOR/////////////////////*@

                            @* COLUMNA 1*@
                            <div class="col-lg">

                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-group m-2">
                                    @Html.Label("equipo", "Equipo", new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.equipo, new { @class = "form-control", @readonly = "readonly" })
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    @Html.TextBoxFor(model => model.nombre, new { @class = "form-control", @toggle = "Nombre", @title = "Nombre", @required = "true" })
                                </div>

                                <div class="form-group m-2">
                                    @Html.Label("marca", "Marca", new { @class = "control-label" })
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    @Html.DropDownList("marca", Model.MarcasList, new { @class = "form-control",@id="marcalist" })
                                  
                                    @Html.Label("modelo", "Modelo", new { @class = "control-label" })
                                    @Html.DropDownListFor(model=> model.modelo,new SelectList(""),"--Seleccionar Modelo--", new { @class = "form-control",@id="Dropmodelo" })
                                </div>

                                <div class="form-group m-2">
                                    @Html.Label("año", "Año", new { @class = "control-label" })
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    @Html.DropDownList("año", Model.AnniosList, new { @class = "form-control" })
                                    
                                    @Html.Label("serie", "Serie", new { @class = "control-label" })
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    @Html.TextBoxFor(model => model.serie, new { @class = "form-control" })
                                </div>

                                <div class="form-group m-2">
                                    @Html.Label("cod_estab", "Estab.", new { @class = "control-label" })
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    @Html.DropDownList("cod_estab", Model.EstabList, new { @class = "form-control" })
                               
                                    @Html.Label("codigo_economico", "Cód Eco", new { @class = "control-label" })
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    @Html.TextBoxFor(model => model.codigo_economico, new { @class = "form-control" })
                                </div>

                                <div class="form-group m-2">
                                    @Html.Label("odometro", "Odómetro", new { @class = "control-label" })
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    @Html.DropDownList("odometro", Model.OdometroList, new { @class = "form-control" })
                                    
                                    @Html.Label("sirve_odometro", "Sirve odómetro", new { @class = "control-label" })
                                    @Html.CheckBoxFor(model => model.sirve_odometro, new { @class = "form-control" })
                                </div>

                                <div class="form-group m-2">
                                    @Html.Label("activo_fijo", "Activo Fijo", new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.activo_fijo, new { @class = "form-control", @onkeydown = "onKeyDownActivo(event);", @id = "activo" })
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <div class="row">
                                        <div class="col-6"> <input asp-for="activo_nombre" id="anombre" data-toggle="Nombre Activo fijo" title="Nombre Activo fijo" class="form-control" /></div>
                                        <div class="col-6">
                                            <div class="checkbox ">
                                                <div class="checkbox  align-middle">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.es_activo_fijo, new { @class = "form-control" }) Activo Fijo
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group m-2">
                                    @Html.Label("equipo_depende", "Depende", new { @class = "control-label" })
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    @Html.TextBoxFor(model => model.equipo_depende, new { @class = "form-control", @onkeydown = "onKeyDownDepende(event);", @id = "depende" })
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <input asp-for="depende" class="form-control" id="dnombre" data-toggle="Depende Equipo" title="Depende Equipo" />
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                </div>

                                <div class="form-group m-2">
                                    <b>Vida útil 1: @Html.TextBoxFor(model => model.vida_util, new { @class = "form-control", @type = "number" })</b>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <div class="row">
                                        <div class="col-7"> @Html.DropDownList("medida_vida_util", Model.FrecuenciaList, new { @class = "form-control" }) </div>
                                        <div class="col-5">

                                            <b>Garantía 1: @Html.TextBoxFor(model => model.garantia, new { @class = "form-control", @type = "number" })</b>

                                        </div>
                                    </div>
                                </div>

                                <div class="form-group m-2">
                                    <b>Vida útil 2: @Html.TextBoxFor(model => model.vida_util2, new { @class = "form-control", @type = "number" })</b>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <div class="row">
                                        <div class="col-7"> @Html.DropDownList("medida_vida_util2", Model.FrecuenciaList, new { @class = "form-control" })</div>
                                        <div class="col-5">
                                            <b>Garantía 2: @Html.TextBoxFor(model => model.garantia2, new { @class = "form-control", @type = "number" })</b>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group m-2">
                                    <b>Área @Html.TextBoxFor(model => model.area, new { @class = "form-control", @id = "area", @onkeydown = "onKeyDownArea(event);" })</b>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <input id="areanombre" data-toggle="Area" title="Area" class="form-control">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                </div>

                                <div class="form-group m-2">
                                    <b>Depto. @Html.TextBoxFor(model => model.departamento, new { @class = "form-control", @onkeydown = "onKeyDownDepart(event);", @id = "departamento" })</b>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <input id="departnombre" data-toggle="Nombre Departamento" title="Nombre Departamento" class="form-control">
                                </div>

                            </div>

                            @* COLUMNA 2*@                                                 
                        <div class="col-lg">
                            <div class="form-group m-2">
                                @Html.Label("abreviatura", "Abrev", new { @class = "control-label" })
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.TextBoxFor(model => model.abreviatura, new { @class = "form-control" })
                                
                                @Html.Label("status", "Status", new { @class = "control-label" })
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.DropDownList("status", Model.StatusList, new { @class = "form-control" })
                            </div>

                            <div class="form-group m-2">
                                @Html.Label("version", "Version", new { @class = "control-label" })
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.DropDownListFor(model=> model.version,new SelectList(""),"--Seleccionar Version--", new { @class = "form-control",@id="VersionList" })
                                 
                                @Html.Label("uso_equipos", "Uso", new { @class = "control-label" })
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.DropDownList("uso_equipos", Model.UsosList, new { @class = "form-control" })
                            </div>

                            <div class="form-group m-2">
                                @Html.Label("tipo_equipo", "Tipo", new { @class = "control-label" })
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.DropDownList("tipo_equipo", Model.TipoEquipoList, new { @class = "form-control" })
                                
                                @Html.Label("lote", "Lote", new { @class = "control-label" })
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.TextBoxFor(model => model.lote, new { @class = "form-control" })
                            </div>

                            <div class="form-group m-2">
                                @Html.Label("color", "Color", new { @class = "control-label" })
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.DropDownList("color", Model.ColorList, new { @class = "form-control" })
                            </div>

                            <div class="form-group mt-2 mb-1">
                                @Html.Label("caracteristicas", "Características", new { @class = "control-label" })
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.TextAreaFor(model => model.caracteristicas, new { @class = "form-control" })
                            </div>

                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />

                            
                            @Html.DropDownList("medida_garantia", Model.FrecuenciaList, new { @class = "form-control" })
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.DropDownList("medida_garantia2", Model.FrecuenciaList, new { @class = "form-control" })
                            &nbsp;&nbsp;&nbsp;&nbsp;

                            <div class="form-group m-2">
                                <b>Recorrido máximo: @Html.TextBoxFor(model => model.recorrido_maximo, new { @class = "form-control" })</b>
                            </div>
                        </div>

                            
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Guardar" class="btn btn-success" />
                        </div>
                    

                </div>
               
            

    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark" content></nav>
            @*Formualrio de datos adicionales*@

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg border">
                        @*///////////////////VALORES//////////////////////*@
                        Valores
                        <div class="form-group m-3">
                            @Html.Label("compra", "Compra", new { @class = "control-label" })
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.TextBoxFor(model => model.fecha_compra, new { @class = "my-4", @name = "dtpfecha_compra", @type = "date", @style = "width:80%;", @id = "calendario" })
                        </div>
                        <div class="form-group m-3">
                            <b>Costo @Html.TextBoxFor(model => model.costo, new { @class = "form-control", @type = "number", @style = "width: 80%;" })</b>
                            <b>Valor @Html.TextBoxFor(model => model.valor_comercial, new { @class = "form-control", @type = "number", @style = "width: 80%;" })</b>
                            <b>Seguro @Html.TextBoxFor(model => model.seguro, new { @class = "form-control", @type = "number", @style = "width: 80%;" })</b>
                            <b>Abono mensual @Html.TextBoxFor(model => model.abono_mensual, new { @class = "form-control", @type = "number", @style = "width: 80%;" })</b>
                        </div>

                        Vehículo
                        <br />
                        @*///////////////////VEHICULO//////////////////////*@
                        <label asp-for="placas" class="control-label">Placas</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        @Html.TextBoxFor(model => model.placas, new { @class = "form-control" })

                        @Html.TextBoxFor(model => model.vigencia_placas, new { @class = "my-4", @name = "dtpPlacas", @style = "width:80%;", @type = "date" })<br>

                        <label asp-for="motor" class="control-label">Motor</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        @Html.TextBoxFor(model => model.motor, new { @class = "form-control" })

                        <b>Tarjeta circulación @Html.TextBoxFor(model => model.vigencia_circulacion, new { @class = "form-control", @type = "date", @name = "fecha" })</b>
                        <div>
                        </div>

                        <label asp-for="tipo_vehiculo" class="control-label">Tipo</label>
                        @Html.DropDownList("tipo_vehiculo", Model.TipoVehicList, new { @class = "form-control" })

                        <label asp-for="chofer" class="control-label">Chofer</label>
                        @Html.DropDownList("chofer", Model.ChoferList, new { @class = "form-control" })

                        <b>Fecha @Html.TextBoxFor(model => model.fecha_alta, new { @class = "form-control", @type = "date", @name = "fecha" })</b>

                        <b>Tanque 1 @Html.TextBoxFor(model => model.tanque1, new { @class = "form-control", @type = "number", })</b>
                        @Html.DropDownList("combustible1", Model.Tanque1List, new { @class = "form-control my-3 ", @toggle = "Combustible 1", @title = "Combustible 1" })
                        @Html.TextBoxFor(model => model.RENDIMIENTO1, new { @class = "form-control my-3", @type = "number", @toggle = "Rendimiento 1", @title = "Rendimiento 1" })
                        <strong>Nivel Licencia @Html.TextBoxFor(model => model.nivel_licencia, new { @class = "form-control", @type = "number" })</strong>

                        <b>Tanque 2 @Html.TextBoxFor(model => model.tanque2, new { @class = "form-control", @type = "number" })</b>
                        @Html.DropDownList("combustible2", Model.Tanque1List, new { @class = "form-control my-3", @toggle = "Combustible 2", @title = "Combustible 2" })
                        @Html.TextBoxFor(model => model.RENDIMIENTO2, new { @class = "form-control my-3", @type = "number", @toggle = "Rendimiento 2", @title = "Rendimiento 2" })
                        <strong>Nivel Licencia epm. @Html.TextBoxFor(model => model.nivel_licencia_empresa, new { @class = "form-control", @type = "number" })</strong>

                        <b>Tanque 3 @Html.TextBoxFor(model => model.tanque3, new { @class = "form-control", @type = "number" })</b>
                        @Html.DropDownList("combustible3", Model.Tanque1List, new { @class = "form-control my-3", @toggle = "Combustible 3", @title = "Combustible 3" })
                        @Html.TextBoxFor(model => model.RENDIMIENTO3, new { @class = "form-control my-3", @type = "number", @toggle = "Rendimiento 3", @title = "Rendimiento 3" })

                        <b>Llantas @Html.TextBoxFor(model => model.llantas, new { @class = "form-control", @type = "number" })</b>
                        <strong>Llantas extra<br>@Html.TextBoxFor(model => model.llantas_extras, new { @class = "form-control", @type = "number" })</strong>




                    </div>
                    <div class="col-lg border">
                        Vehículo
                        @Html.Label("tenencia", "Tenencia", new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.tenencia, new { @class = "form-control", @type = "number" })
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        @Html.Label("usa_lubricante", "Lubricantes", new { @class = "control-label" })
                        @Html.CheckBoxFor(model => model.usa_lubricante, new { @class = "form-control" })

                        @Html.Label("ultima_lectura", "Últ. Lectura", new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.ultima_lectura, new { @class = "form-control", @type = "number" })
                        &nbsp;&nbsp;&nbsp;&nbsp;

                        @Html.Label("carga_estandar", "Carga Estándar", new { @class = "control-label" })
                        @Html.DropDownList("carga_estandar", Model.CargaEstList, new { @class = "form-control" })
                        &nbsp;&nbsp;&nbsp;&nbsp;

                        @Html.Label("ayudante", "Ayudante 1", new { @class = "control-label" })
                        @Html.DropDownList("ayudante", Model.AyudanteList, new { @class = "form-control" })
                        &nbsp;&nbsp;&nbsp;&nbsp;

                        @Html.Label("ayudante2", "Ayudante 2", new { @class = "control-label" })
                        @Html.DropDownList("ayudante2", Model.AyudanteList, new { @class = "form-control" })
                        &nbsp;&nbsp;&nbsp;&nbsp;

                        <div class="form-group">
                            <b>Eje 1 @Html.TextBoxFor(model => model.llantas_eje1, new { @class = "form-control my-3", @type = "number", @style = "width: 80%;" })</b>
                        </div>
                        <div class="form-group">
                            <b>Eje 2 @Html.TextBoxFor(model => model.llantas_eje2, new { @class = "form-control my-3", @type = "number", @style = "width: 80%;" })</b>
                        </div>
                        <div class="form-group">
                            <b>Eje 3 @Html.TextBoxFor(model => model.llantas_eje3, new { @class = "form-control my-3", @type = "number", @style = "width: 80%;" })</b>
                        </div>
                        <div class="form-group">
                            <b>Eje 4  @Html.TextBoxFor(model => model.llantas_eje4, new { @class = "form-control my-3", @type = "number", @style = "width: 80%;" })</b>
                        </div>
                        <div class="form-group">
                            <b>Eje 5 @Html.TextBoxFor(model => model.llantas_eje5, new { @class = "form-control my-3", @type = "number", @style = "width: 80%;" })</b>
                        </div>
                        <div class="form-group">
                            <b>Eje 6 @Html.TextBoxFor(model => model.llantas_eje6, new { @class = "form-control my-3", @type = "number", @style = "width: 80%;" })</b>
                        </div>


                    </div> 
                    
                   
               </div>
            </div>
            }
        
            </div>
            <div class="text-danger">
            @if(ViewBag.Errores != null)
                    {
                        @ViewBag.Errores
            }
        </div>
        </div>
    </div>
<div class="modal fade bd-example-modal-xl" id="modalDetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="datos">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<script>
function buscar()
        {
            const tableReg = document.getElementById('tabla');
            const searchText = document.getElementById('busqueda').value.toLowerCase();
            let total = 0;
            for (let i = 1; i < tableReg.rows.length; i++) {
                if (tableReg.rows[i].classList.contains("noSearch")) {
                    continue;
                }
                let found = false;
                const cellsOfRow = tableReg.rows[i].getElementsByTagName('td');
                for (let j = 0; j < cellsOfRow.length && !found; j++) {
                    const compareWith = cellsOfRow[j].innerHTML.toLowerCase();
                    if (searchText.length == 0 || compareWith.indexOf(searchText) > -1) {
                        found = true;
                        total++;
                    }
                }
                if (found) {
                    tableReg.rows[i].style.display = '';
                } else {
                    tableReg.rows[i].style.display = 'none';
                }
            }
            const lastTR=tableReg.rows[tableReg.rows.length-1];
            const td=lastTR.querySelector("td");
            lastTR.classList.remove("hide", "red");
            if (searchText == "") {
                lastTR.classList.add("hide");
            }
        }
        //cambio de los combos
$(document).ready( function () {
    $('#tabla').DataTable();
    $("#marcalist").change(function(){
        $("#VersionList").empty();
        var marca = $(this).val();
        debugger
        $.ajax({
            type:"post",
            url:"@Url.Action("modeloNuevoEquipo","Catalogos")" + "?id=" + marca,
            contentType:"html",
            success:function(respon){
                debugger
                $("#Dropmodelo").empty();
                $("#Dropmodelo").append(respon);
            }
        })
    })
    $("#Dropmodelo").change(function(){
        var modelo = $(this).val();
        debugger
        $.ajax({
            type:"post",
            url:"@Url.Action("versionNuevoEquipo","Catalogos")" + "?id=" + modelo,
            contentType:"html",
            success:function(respon){
                debugger
                $("#VersionList").empty();
                $("#VersionList").append(respon);
            }
        })
    })
} );

function detalleActivo(){
        $("#datos").empty();
        $.ajax({
            type:"GET",
            url:"@Url.Action("detalleActivos","Catalogos")",
            success:function(data){
                $("#datos").append(data);
                $('#modalDetalle').modal('show');
            },
            error: function (xhr,ajaxOptions,thrownError){alert(xhr.responseText);}
        });
    }
function equipoDepende(){
        $("#datos").empty();
        $.ajax({
            type:"GET",
            url:"@Url.Action("EquipoDepende","Catalogos")",
            success:function(data){
                $("#datos").append(data);
                $('#modalDetalle').modal('show');
            },
            error: function (xhr,ajaxOptions,thrownError){alert(xhr.responseText);}
        });
    }
function areaEquipo(){
        $("#datos").empty();
        $.ajax({
            type:"GET",
            url:"@Url.Action("Areas","Catalogos")",
            success:function(data){
                $("#datos").append(data);
                $('#modalDetalle').modal('show');
            },
            error: function (xhr,ajaxOptions,thrownError){alert(xhr.responseText);}
        });
    }
function departEquipos(){
        $("#datos").empty();
        $.ajax({
            type:"GET",
            url:"@Url.Action("Departamentos","Catalogos")",
            success:function(data){
                $("#datos").append(data);
                $('#modalDetalle').modal('show');
            },
            error: function (xhr,ajaxOptions,thrownError){alert(xhr.responseText);}
        });
    }
function activosFi(activo,nombre){
    $('#activo').val(activo);
    $('#anombre').val(nombre);
    $('#modalDetalle').modal('hide');
}
function equipoDep(equipo,nombre){
    $('#depende').val(equipo);
    $('#dnombre').val(nombre);
    $('#modalDetalle').modal('hide');
}
function areaEq(area,nombre){
    $('#area').val(area);
    $('#areanombre').val(nombre);
    $('#modalDetalle').modal('hide');
}
function departEq(depart,nombre){
    $('#departamento').val(depart);
    $('#departnombre').val(nombre);
    $('#modalDetalle').modal('hide');
}
function onKeyDownActivo(event) {

    var codigo = event.which || event.keyCode;
     
    if(codigo === 113){
      detalleActivo();
    }
 
}
function onKeyDownArea(event) {

    var codigo = event.which || event.keyCode;
     
    if(codigo === 113){
      areaEquipo();
    }
 
}
function onKeyDownDepende(event) {

    var codigo = event.which || event.keyCode;
     
    if(codigo === 113){
      equipoDepende();
    }
 
}
function onKeyDownDepart(event) {

    var codigo = event.which || event.keyCode;
     
    if(codigo === 113){
      departEquipos();
    }
 
}
</script>
@*<div class="container-fluid">
    @Html.Partial("Prueba")
</div>*@




