@model Demo.Models.AlimentacionGSModelView
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-info">
                <div class="card-header">
                    <h3>Nuevo Servicio</h3>
                </div>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <form class="form-inline my-2 my-lg-0">
                        <a href="@Url.Action("AlimentacionGastosServicios","Catalogos")" class="btn btn-outline-info" data-toggle="Regresar" title="Regresar">
                            <i class="fas fa-arrow-alt-circle-left"></i>
                            Regresar
                        </a>
                            <div class="alert alert-warning alert-dismissible fade show" id="alert" role="alert" style="margin-left: 10px;">
								Error al generar el folio, este establecimiento no esta disponible o el folio ya existe.
							</div>
                           @* if(TempData["Proveedor"]!=null){
                                <div class="alert alert-warning alert-dismissible fade show" id="alert" role="alert" style="margin-left: 10px;">
								Error al generar el folio, este establecimiento no esta disponible o el folio ya existe.
							</div>
                            }*@
                    </form>
                </nav>
                @using (Html.BeginForm("NuevoGastoServicios", "Catalogos", FormMethod.Post,new { enctype = "multipart/form-data", onsubmit = "cerrar()", id="form"}))
                {
                    <div class="container-fluid">
                        <div class="row">
                            @*----COLUMNA NUMERO 1*@
                            <div class="col-lg">
                                @Html.Label("fecha", "Fecha", new { @class = "control-label my-2" })
                                <br />
                                @Html.TextBoxFor(model => model.fecha_servicio, new { @class = "my-2", @name = "dtpFecha", @type = "date" })<br>

                                @Html.Label("estab", "Estab", new { @class = "control-label my-2" })
                                @Html.DropDownListFor(model => model.cod_estab, Model.EstabList, new { @class = "form-control",@id="estab_list"})

                                @Html.Label("equipo", "Equipo", new { @class = "control-label my-2" })
                                @Html.TextBoxFor(model => model.equipo, new { @class = "form-control my-2",@onkeydown="onKeyDownEquipo(event)",@id="Equipo",@required="true"})
                                <input class="form-control" id="EquipoN" data-toggle="Equipo" title="Equipo" readonly="true" />

                                @Html.Label("modelo", "Modelo", new { @class = "control-label my-2" })
                                <input class="form-control" id="Modelo" data-toggle="Modelo" title="Modelo" readonly="true" />

                                @Html.Label("marca", "Marca", new { @class = "control-label my-2" })
                                <input class="form-control" id="Marca" data-toggle="Marca" title="Marca" readonly="true" />

                                @Html.Label("año", "Año", new { @class = "control-label my-2" })
                                <input class="form-control" id="Annio" data-toggle="Año" title="Año" readonly="true"/>

                                @Html.Label("motor", "Motor", new { @class = "control-label my-2" })
                                <input class="form-control" id="Motor" data-toggle="Motor" title="Motor" readonly="true"/>

                                @Html.Label("notas", "Notas", new { @class = "control-label" })
                                <textarea id="notas" rows="5" class="form-control my-2" disabled="true"></textarea>

                                @Html.Label("factura", "Factura", new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.factura_proveedor, new { @class = "form-control my-2"})

                                @Html.Label("proveedor", "Proveedor", new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.cod_prv, new { @class = "form-control my-2",@id="Proveedor",@onkeydown="onKeyDownPrv(event)"})
                                <input class="form-control" id="ProveedorN" data-toggle="Proveedor" title="Proveedor" readonly="true" />

                                @Html.Label("neto", "Neto", new { @class = "control-label" })
                                <input type="number" class="form-control" id="Neto" data-toggle="Neto" title="Neto" readonly="true" />

                                @Html.Label("iva", "IVA", new { @class = "control-label" })
                                <input type="number" class="form-control" id="IVA" data-toggle="IVA" title="IVA" readonly="true" />

                                @Html.Label("ivaret", "IVA Ret", new { @class = "control-label" })
                                <input type="number" class="form-control" id="IVARet" data-toggle="IVA Ret" title="IVA Ret" readonly="true"/>

                                @Html.Label("isrret", "ISR Ret", new { @class = "control-label" })
                                <input type="number" class="form-control" id="ISRRet" data-toggle="ISR Ret" title="ISR Ret" readonly="true"/>

                                @Html.Label("total", "Total", new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.total, new { @class = "form-control", @type = "number",@id="total",@readonly="readonly" })


                            </div>
                            @*----COLUMNA NUMERO 2*@
                        <div class="col-lg">
                            @Html.Label("folio", "Folio", new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.folio, new { @class = "form-control my-2",@id="Folio",@readonly="readonly",@required="true"})

                            @Html.Label("chofer", "Chofer", new { @class = "control-label" })
                            <input class="form-control" id="Chofer" data-toggle="Chofer" title="Chofer" readonly="true" />
                            <input class="form-control" id="ChoferN" data-toggle="Chofer" title="Chofer" readonly="true"/>

                            @Html.Label("serie", "Serie", new { @class = "control-label" })
                            <input class="form-control" id="Serie" data-toggle="Serie" title="Serie" readonly="true"/>

                            @Html.Label("lectura", "Lectura", new { @class = "control-label" })
                            <input class="form-control" id="Lectura" data-toggle="Lectura" title="Lectura" readonly="true" />

                            @Html.Label("placas", "Placas", new { @class = "control-label" })
                            <input class="form-control" id="Placas" data-toggle="Placas" title="Placas" readonly="true"/>

                            @Html.Label("servicio", "Servicio", new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.servicio, new { @class = "form-control",@id="servicio",@onkeydown="onKeyDownServicio(event)"})
                            <input class="form-control" id="ServicioN" data-toggle="Servicio" title="Servicio" readonly="true"/>
                            @Html.Label("cantidad", "Cantidad", new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.cantidad, new { @class = "form-control", @type = "number",@id="Cantidad" })
                            @Html.Label("importe", "Importe", new { @class = "control-label" })
                            <input type="number" class="form-control" id="Importe" data-toggle="Importe" title="Importe" onchange="calculos(this.value)" onkeyup="calculos(this.value)"/>
                            @Html.Label("descuento", "%Descuento", new { @class = "control-label"})
                            <input type="number" class="form-control" id="DescuentoPorc" data-toggle="Descuento %" title="Descuento %" onchange="calculos(this.value)" onkeyup="calculos(this.value)"/>
                            @Html.Label("descuento", "$Descuento", new { @class = "control-label" })
                            <input type="number" class="form-control" id="DescuentoUnidad" data-toggle="Descuento $" title="Descuento $" onchange="calculos(this.value)" onkeyup="calculos(this.value)"/>
                            @Html.Label("lectura", "Lectura", new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.lectura, new { @class = "form-control", @type = "number",@id="Lectura" })
                            @Html.Label("neto", "Neto", new { @class = "control-label" })
                            <input type="number" class="form-control" id="Neto1" data-toggle="Neto" title="Neto"/>
                            @Html.Label("notas", "Notas", new { @class = "control-label" })
                            @Html.TextAreaFor(model => model.notas, new { @class = "form-control my-2",@rows="5"})

                        </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="button" value="Guardar" class="btn btn-success my-2" onclick="confirm()" />
                    </div>
                <div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">¿Desea continuar?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <label>No ha seleccionado un proveedor.</label>
                      </div>
                      <div class="modal-footer">
                          
                          <input type="button" value="Aceptar" class="btn btn-success my-2" onclick="aceptar()"/>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                      </div>
                    </div>
                  </div>
                </div>
                }
            </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-xl" id="modalDetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="datos">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <script>
$(document).ready( function () {
    $("#alert").hide();
    $('#tabla').DataTable();
    $("#estab_list").change(function(){
        var estab = $(this).val();
        debugger
        $.ajax({
            type:"post",
            url:"@Url.Action("FolioGastoServicio","Catalogos")" + "?id=" + estab,
            contentType:"html",
            success:function(respond){
                debugger
                $("#Folio").val(respond);
                var a = $("#Folio").val();
                if(a == null || a ==""){
                    $("#alert").show(500);
                }else{
                    $("#alert").hide();
                }
            }
        })
    })
});
        function cod_prv(p, nom) {
            $("#Proveedor").val(p);
            $("#ProveedorN").val(nom);
            $("#modalDetalle").modal('hide');
        }
function equipo(){
        $("#datos").empty();
        $.ajax({
            type:"GET",
            url:"@Url.Action("EquipoGastoServicio","Catalogos")",
            success:function(data){
                $("#datos").append(data);
                $('#modalDetalle').modal('show');
            },
            error: function (xhr,ajaxOptions,thrownError){alert(xhr.responseText);}
        });
}
function prv(){
        $("#datos").empty();
        $.ajax({
            type:"GET",
            url:"@Url.Action("Proveedor","Catalogos")",
            success:function(data){
                $("#datos").append(data);
                $('#modalDetalle').modal('show');
            },
            error: function (xhr,ajaxOptions,thrownError){alert(xhr.responseText);}
        });
}

function onKeyDownEquipo(event) {

    var codigo = event.which || event.keyCode;

    if(codigo === 113){
      equipo();
    }
}
function onKeyDownPrv(event) {

    var codigo = event.which || event.keyCode;

    if(codigo === 113){
      prv();
    }
}
function onKeyDownServicio(event) {

    var codigo = event.which || event.keyCode;

    if(codigo === 113){
      servicio();
    }
}
function servicio(){
        $("#datos").empty();
        $.ajax({
            type:"GET",
            url:"@Url.Action("Serv","Catalogos")",
            success:function(data){
                $("#datos").append(data);
                $('#modalDetalle').modal('show');
            },
            error: function (xhr,ajaxOptions,thrownError){alert(xhr.responseText);}
        });
}
function equipoGS(equipo,nombre,chofer,nombreCh,modelo,marca,serie,lectura,año,motor,placas){
    $('#Equipo').val(equipo);
    $('#EquipoN').val(nombre);
    $('#Chofer').val(chofer);
    $('#ChoferN').val(nombreCh);
    $('#Modelo').val(modelo);
    $('#Marca').val(marca);
    $('#Serie').val(serie);
    $('#Lectura').val(lectura);
    $('#Annio').val(año);
    $('#Motor').val(motor);
    $('#Placas').val(placas);
    $('#modalDetalle').modal('hide');
}
function serv1(servicio,nombre){
    $('#servicio').val(servicio);
    $('#ServicioN').val(nombre);
    $('#modalDetalle').modal('hide');
}
/*function cod_prv(p,n){
    $("#Proveedor").val(p);
    $("#ProveedorN").val.(n);
    $('#modalDetalle').modal('hide');
}*/
function calculos(){
    var importe = $("#Importe").val();
    var descporcent = $("#DescuentoPorc").val();
    var descUni = $("#DescuentoUnidad").val();
    var neto = 0.0;
    var descuento = 0.0;
    var iva = 0;
    var total = 0;
    neto = importe;
    if(descporcent * importe != 0){
        descuento = (descporcent * importe)/100;
    }
    neto = neto - descuento - descUni;
    if(neto * 16 !=0){
        iva = (neto * 16)/100;
    }
    total = neto + iva;
    $("#Neto").val(neto);
    $("#Neto1").val(neto);
    $("#IVA").val(iva);
    $("#total").val(total);
}
function confirm(){
    var prv = $("#Proveedor").val();
    if(prv == "" || prv == null){
        $('#modalConfirm').modal('show');
    }else{
        $("#form").submit();
    }
}
function cerrar(){
    $('#modalConfirm').modal('hide');
    }
        function aceptar() {
            $("#form").submit();
    $('#modalConfirm').modal('hide');
   
    }
    </script>

