@model List<Demo.Models.ServicioDep>
<div class="container-fluid">
    <div class="card-primary">
		<div class="card-header">
			<h2>Dependencia de servicio</h2>
		</div>
		<a href="@Url.Action("NuevoServicioDependiente","Catalogos")" class="btn btn-info" data-toggle="Regresar" title="Regresar">
						   <i class="fas fa-save-alt-circle-left"></i>
						   Nuevo Servicio Depende
					  </a>
		<div class="row">

    <div class="col-12">
     
        <table class="table table-bordered" id="tabla">
					<thead>
					 <tr>
					  <th>Servicio</th>
					  <th>Servicio dependiente</th>
					  <th>Notas</th>
					  <th>Acciones</th>

				  </tr>
				 </thead>
				 <tbody>
					 @foreach(var dat in Model)
						{
							<tr>
					   <td>@dat.nom_servicio</td>
					   <td>@dat.nom_dependiente</td>
					   <td>@dat.notas</td>
						<td>
							<a class="btn btn-outline-warning" href="@Url.Action("EditarServicioDepende","Catalogos", new {id = dat.servicio})" >
							   <i class="fas fa-edit"></i>
							   Editar
							</a>
							<a class="btn btn-danger" href="@Url.Action("EliminarServicioDepende","Catalogos", new {id = dat.servicio})" >
							   <i class="fas fa-trash-alt"></i>
							   Eliminar
							</a>
						</td>
				   </tr>
						}
				 </tbody>
				</table>
</div>
</div>
    </div>
</div>
</div>
</div>


<script>
$(document).ready( function () {
    $('#tabla').DataTable();
} );
</script>
